{% trans_default_domain 'FOSUserBundle' %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Enregistrement sur Club des Critiques</title>
</head>
<body>
    <div class="container">
        <h3>Inscription Club Des Critiques</h3>
        <div class="row">
            <p>Vous avez demander à vous inscrire sur le site Club-des-Critiques.com et nous vous remercions. Afin de finaliser votre inscription sur le site nous vous prions bien vouloir compléter le formulaire à l'adresse ci-dessous.</p>
            <p><a href="{{ unique_link }}">https://www.club_critique.com/register/{{ unique_link }}</a></p>
            <p>L'équipe du Club des Critiques vous souhaite une bonne continuations</p>
            <img src"{{ asset("assets/logoCrop.png") }}" />
        </div>
    </div>
</body>
</html>

