<ng-form name='areaForm'>
<div class="input-form-wrap"
     ng-switch='$ctrl.vgData.validator'>
  <textarea ng-switch-default='vg-password'
          type="{($ctrl.vgData.type)}"
          ng-model='$ctrl.vgModel'
          class='input-form'
          ng-class='{
            formError: (areaForm[$ctrl.vgData.name].$invalid && areaForm[$ctrl.vgData.name].$dirty),
            formValid: (areaForm[$ctrl.vgData.name].$valid && areaForm[$ctrl.vgData.name].$dirty)
          }'
          placeholder="{($ctrl.vgData.placeholder)}"
          name='{($ctrl.vgData.name)}'
          ng-required='$ctrl.vgData.required'
          ng-disabled='$ctrl.vgDisabled'
          ng-model-options="{'allowInvalid': true}"
          >
  </textarea>
  <div ng-show='areaForm[$ctrl.vgData.name].$valid && areaForm[$ctrl.vgData.name].$dirty' class="form-valid-icon form-valid"></div>
  <div ng-show='areaForm[$ctrl.vgData.name].$invalid && areaForm[$ctrl.vgData.name].$dirty' class="form-valid-icon form-invalid">
</div>
</ng-form>
