<ng-form name='areaForm'>
<div class="input-form-wrap"
     ng-switch='$ctrl.vgData.validator'>
  <textarea ng-switch-default='vg-password'
          type="{($ctrl.vgData.type)}"
          ng-model='$ctrl.vgModel'
          class='input-form'
          ng-class='{
            formError: (areaForm[$ctrl.vgData.name].$invalid && areaForm[$ctrl.vgData.name].$dirty),
            formValid: (areaForm[$ctrl.vgData.name].$valid && areaForm[$ctrl.vgData.name].$dirty)
          }'
          placeholder="{($ctrl.vgData.placeholder)}"
          name='{($ctrl.vgData.name)}'
          ng-required='$ctrl.vgData.required'
          ng-disabled='$ctrl.vgDisabled'
          ng-model-options="{'allowInvalid': true}"
          ng-trim="false"
          >
  </textarea>
  <div ng-show='areaForm[$ctrl.vgData.name].$valid && areaForm[$ctrl.vgData.name].$dirty' class="form-valid-icon form-valid"></div>
  <div ng-show='areaForm[$ctrl.vgData.name].$invalid && areaForm[$ctrl.vgData.name].$dirty' class="form-valid-icon form-invalid"></div>
  <div ng-show='areaForm[$ctrl.vgData.name].$pristine' class="form-valid-icon form-required"></div>
</div>
<div class="errorMessage" ng-show='textForm[$ctrl.vgData.name].$invalid && textForm[$ctrl.vgData.name].$dirty'>
   <span ng-show='textForm[$ctrl.vgData.name].$error[$ctrl.vgData.validator]'>{($ctrl.vgData.errors[$ctrl.vgData.validator])}</span>
   <span ng-show='textForm[$ctrl.vgData.name].$error.required'>{($ctrl.vgData.errors.required)}</span>
</div>
</ng-form>
