<ng-form name='searchForm'>
<div class="input-form-wrap f-left h-auto w-100">
  <input type="{($ctrl.vgData.type)}"
          ng-model='$ctrl.vgModel'
          class='input-form'
          placeholder="{($ctrl.vgData.placeholder)}"
          name='{($ctrl.vgData.name)}'
          ng-required='$ctrl.vgData.required'
          ng-model-options='{debounce: 500}'
          ng-disabled='$ctrl.vgDisabled'
          ng-keydown='$ctrl.keydown($event, $this)'
          ng-class='{
            formError: (searchForm[$ctrl.vgData.name].$invalid && searchForm[$ctrl.vgData.name].$dirty && !$ctrl.searching && !$ctrl.search_result.data.length),
            formValid: (searchForm[$ctrl.vgData.name].$valid && searchForm[$ctrl.vgData.name].$dirty && !$ctrl.searching && !$ctrl.search_result.data.length)
          }'
          ng-trim="false"
         />
  <div class="input-form-result" ng-show='($ctrl.search_result.data.length > 0 || $ctrl.error) && $ctrl.vgModel.length > 0'>
    <ul ng-show='$ctrl.search_result.data.length > 0'>
      <li ng-repeat='result in $ctrl.search_result.data | limitTo: $ctrl.limit'
          ng-class='{selected: $ctrl.search_result.selected.indexList == $index}'
          ng-mousedown='$ctrl.selectAction(result)' book>
        <div class="cover"
        style='background-image: url({(result.volumeInfo.imageLinks?result.volumeInfo.imageLinks.smallThumbnail:"/assets/no_thumbnail.jpg")})'>

        </div>
        <div class="infos">
          <span class='title'>{(result.volumeInfo.title)}</span>
          <span class='author'>{(result.volumeInfo.authors[0])}</span>
          <span class='description'>{(result.volumeInfo.description)}</span>
        </div>
      </li>
    </ul>
    <ul ng-show='$ctrl.error'>
      <div class="error_message">
        {($ctrl.errorMessage)}
      </div>
    </ul>
  </div>
  <div ng-show='$ctrl.searching' class="loading-spinner"></div>
  <div ng-show='searchForm[$ctrl.vgData.name].$valid && searchForm[$ctrl.vgData.name].$dirty && !$ctrl.searching && !$ctrl.search_result.data.length' class="form-valid-icon form-valid"></div>
  <div ng-show='searchForm[$ctrl.vgData.name].$invalid && searchForm[$ctrl.vgData.name].$dirty && !$ctrl.searching && !$ctrl.search_result.data.length' class="form-valid-icon form-invalid"></div>
  <div ng-show='searchForm[$ctrl.vgData.name].$pristine' class="form-valid-icon form-required"></div>
</div>
<div class="errorMessage" ng-show='searchForm[$ctrl.vgData.name].$invalid && searchForm[$ctrl.vgData.name].$dirty'>
   <span ng-show='searchForm[$ctrl.vgData.name].$error[$ctrl.vgData.validator]'>{($ctrl.vgData.errors[$ctrl.vgData.validator])}</span>
   <span ng-show='searchForm[$ctrl.vgData.name].$error.required'>{($ctrl.vgData.errors.required)}</span>
</div>
</ng-form>
