<div class="input-form-wrap f-left h-auto w-100"
     ng-switch='$ctrl.vgData.validator'>
  <input ng-switch-when='vg-password'
          type="{($ctrl.vgData.type)}"
          ng-model='$ctrl.vgModel'
          ng-value='$ctrl.vgModel'
          class='input-form'
          placeholder="{($ctrl.vgData.placeholder)}"
          name='{($ctrl.vgData.name)}'
          ng-required='$ctrl.vgData.required'
          ng-disabled='$ctrl.vgDisabled'

          vg-password />


  <input ng-switch-default
          type="{($ctrl.vgData.type)}"
          ng-model='$ctrl.vgModel'
          ng-value='$ctrl.vgModel'
          class='input-form'
          placeholder="{($ctrl.vgData.placeholder)}"
          name='{($ctrl.vgData.name)}'
          ng-required='$ctrl.vgData.required'
          ng-disabled='$ctrl.vgDisabled'
          ng-model-options="{'allowInvalid': true}"
           />
</div>
