{% extends 'base.html.twig' %}
{% block body %}
    <div id="chatroom">

        <style>
            #zone_chat strong {
                color: white;
                background-color: black;
                padding: 2px;
            }
        </style>
        <h1>Salon : 'Nom du livre'</h1>

        <form action="/" method="post" id="formulaire_chat">
            <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
            <input type="submit" id="envoi_message" value="Envoyer" />
        </form>

        <section id="zone_chat">

        </section>

        <section id="rooms" style="float: right">

        </section>
        <script>

            var socket = io.connect('http://localhost:8124');
            var room = prompt('Quelle room ?')
            socket.emit('createRoom', room);

            var room = prompt('Quel pseudo ?')
            socket.emit('createUser', room);

           // Ajoute un message dans la page
           function insereMessage(username, message) {
               $('#zone_chat').prepend('<p><strong>' + username + '</strong> ' + message + '</p>');
           }

            // Lorsqu'on envoie le formulaire, on transmet le message
            $('#formulaire_chat').submit(function () {
                var message = $('#message').val();
                socket.emit('message', message); // Transmet le message aux autres
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false;
            });

            // Quand on reçoit un message, on l'insère dans la page
            socket.on('updateChat', function(username, message) {
                insereMessage(username, message);
            });

            socket.on('welcome', function(pseudo) {
                $('#zone_chat').prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
            })

            function switchRoom(room){
                socket.emit('switchRoom', room);
            }

            socket.on('updaterooms', function(rooms, current_room) {
                console.log(rooms);
                console.log(current_room);
                $('#zone_chat').empty();
                $('#rooms').empty();
                $.each(rooms, function(key, value) {
                    console.log(key);
                    console.log(value);
                    if(value == current_room){
                        $('#rooms').append('<div>' + value + '</div>');
                    }
                    else {
                        $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
                    }
                });
            });


        </script>


    </div>

{% endblock %}
