{% extends 'base.html.twig' %}
{% block body %}
    <div id="chatroom">
      <section ng-class='{infos: Chatroom.infos.open}'>
        <article id="Salons" Ftype=''>
          <div class="header">
            Salons
          </div>
          <ul class="list-salons">
            <div class="salons-search">
              <input class='s-search' type="text" ng-model='Chatroom.filter.title' placeholder="Rechercher un salon">
              <div class="s-icon"></div>
            </div>
            <li class='ng-cloak salons' ng-repeat='salon in Chatroom.salons.elements | filter: Chatroom.filter track by salon.id'
                ng-click='Chatroom.salons.select(salon)'
                ng-class='{selected: salon.id == Chatroom.salons.selectedSalon.id}'>
              <div class="salon-cover">
                  <div style='background-image: url("http://lorempixel.com/100/100")'>

                  </div>
              </div>
              <div class="salon-infos">
                <div class="s-i-title">
                  {(salon.title)}
                </div>
                <div class="s-i-interval">
                  19/06/2017 - 21/06/2017
                </div>
              </div>
            </li>
          </ul>
        </article>

        <article id="Messages">
          <div class="header" ng-cloak>
            Nom du salon
          </div>
          <div class="messages-container">
              <div class=" ng-cloak message" ng-repeat='message in Chatroom.messages.elements track by message.id'
                    self='{(message.user == userID)}'
                    ng-class='{
                      top: Chatroom.messages.elements[$index - 1].user != message.user && Chatroom.messages.elements[$index + 1].user == message.user,
                      middle: Chatroom.messages.elements[$index - 1].user == message.user && Chatroom.messages.elements[$index + 1].user == message.user,
                      bottom: Chatroom.messages.elements[$index - 1].user == message.user && Chatroom.messages.elements[$index + 1].user != message.user,
                    }' on-finish-render='Chatroom.scroll()'>
                  <div class="user-name">
                    User {(message.user)}
                  </div>
                  <div class="message-content">
                    <div class="user">
                      <div style='background-image: url("http://lorempixel.com/100/100")'></div>
                    </div>
                    <div class='text'>{(message.text)}</div>
                    <div class="time">
                      <div>18:12</div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="footer">
            <input id='sendMessage' type="text" name="message" value="" placeholder='Your message...'
                    ng-model='Chatroom.messages.inputMessage'
                    vg-enter='Chatroom.messages.send()'>
          </div>
        </article>

        <article id='Infos'>
          <div class="header" ng-cloak>
            Informations
          </div>
        </article>

      </section>

    </div>

{% endblock %}
