{% extends 'base.html.twig' %}
{% block title %}Salons de discussions{% endblock %}

{% block body %}
<ng-controller ng-controller='chatroom'>
    <div id="chatroom">
      <section ng-class='{infos: Chatroom.infos.open, close: !Chatroom.infos.open}'>
        <article id="Salons" Ftype='' ng-if='UserConnected'>
          <div class="header">
            <span>Salons</span>
            <img class='createSalon popup-bouton' popup="popup-createSalon" src="/assets/add_green.svg" alt="Ajouter un Salon">
          </div>
          <ul class="list-salons">
            <ul class="ui-tabs">
              <li ng-repeat='tab in Chatroom.tabs.elements track by $index'>
                <input id='radio-{(tab.value)}' type="radio" ng-model='Chatroom.salons.all'
                name="libraryTabs" ng-value="{(tab.value)}" ng-change='Chatroom.changeView()'>
                <label for="radio-{(tab.value)}">
                  {(tab.title)}
                </label>
              </li>
            </ul>
            <div class="salons-search">
              <input class='s-search' type="text" ng-model='Chatroom.filter.name' placeholder="Rechercher un salon">
              <div class="s-icon"></div>
            </div>
            <div class='error' ng-show='Chatroom.salons.error'>
              {(Chatroom.salons.error)}
            </div>
            <ul ng-show='!Chatroom.salons.all'>
              <li class='ng-cloak salons' ng-repeat='salon in Chatroom.salons.elements | filter: Chatroom.filter track by salon.id_chatRoom'
                  ng-click='Chatroom.selectSalon(salon)'
                  ng-class='{selected: salon.id_chatRoom == Chatroom.selectedSalon.id_chatRoom}'>
                <div class="salon-cover">
                    <div style='background-image: url("{(salon.img)}")'>

                    </div>
                </div>
                <div class="salon-infos">
                  <div class="s-i-title">
                    {(salon.name)}
                  </div>
                  <div class="s-i-interval">
                    {(salon.dates | dateUntilSalon)}
                  </div>
                </div>
                <div class="salonState" state='{(salon.dates | isSalonOpen)}'></div>
              </li>
            </ul>
            <ul ng-show='Chatroom.salons.all'>
              <li class='ng-cloak salons' ng-repeat='salon in Chatroom.salons.allElements | filter: Chatroom.filter track by salon.id_chatRoom'
                  ng-click='Chatroom.selectSalon(salon)'
                  ng-class='{selected: salon.id_chatRoom == Chatroom.selectedSalon.id_chatRoom}'>
                <div class="salon-cover">
                    <div style='background-image: url("{(salon.img)}")'>

                    </div>
                </div>
                <div class="salon-infos">
                  <div class="s-i-title">
                    {(salon.name)}
                  </div>
                  <div class="s-i-interval">
                    {(salon.dates | dateUntilSalon)}
                  </div>
                </div>
                <div class="salonState" state='{(salon.dates | isSalonOpen)}'></div>
              </li>
            </ul>
          </ul>
        </article>

        <article id="Messages">
          <div class="header" >
            <span ng-cloak class='text'>{(Chatroom.selectedSalon.name)}</span>
            <div class="salonState" >
              <span state='{(Chatroom.selectedSalon.dates | isSalonOpen)}'>{(Chatroom.selectedSalon.dates | dateUntilSalon)}</span>
            </div>
            <div class="icons" ng-if='UserConnected' ng-click='Chatroom.infos.open = !Chatroom.infos.open'>
              <img show src="/assets/infos.svg" alt="">
              <img hide src="/assets/infos_close.svg" alt="">
            </div>
          </div>

          <div id="messages-container" ng-show='!Chatroom.rendering'>
              <div class="ng-cloak loader-content" ng-if='Chatroom.messages.loading || Chatroom.messages.error || Chatroom.salons.notAllowed'>
                <div ng-show='!Chatroom.messages.error && Chatroom.messages.loading && !Chatroom.salons.notAllowed' taille='big' class="loading-spinner"></div>
                <div class='error' ng-show='Chatroom.messages.error || Chatroom.salons.notAllowed'>
                  <span ng-if='!Chatroom.salons.notAllowed'>{(Chatroom.messages.error)}</span>
                  <div ng-if='Chatroom.salons.noteRequired'>
                      <span>Vous devez noter ce livre avant de rejoindre le salon</span>
                      <rating-form vg-model='Chatroom.noteLivre'
                                    vg-name='"nodeBookSalon"'
                                    vg-editable='true'
                                    vg-init='0'
                                    vg-displaynote='true'
                                    on-select-result='Chatroom.sendNote(note)'>
                      </rating-form>
                  </div>
                  <div ng-if='Chatroom.salons.notJoined'>
                      <button type='button' class='bouton' design='green' ng-click='Chatroom.joinSalon()'>Rejoindre</button>
                  </div>
                </div>
              </div>

              <div class=" ng-cloak message" ng-if='!Chatroom.salons.notAllowed && !Chatroom.messages.error' ng-repeat='message in Chatroom.messages.elements track by message.id'
                    self='{(message.id_user == UserInfos.id)}'
                    new='{(message.new)}'
                    ng-class='{
                      top: Chatroom.messages.elements[$index + 1].id_user == message.id_user && (Chatroom.messages.elements[$index - 1].id_user != message.id_user || !Chatroom.messages.elements[$index - 1]) && Chatroom.messages.elements[$index + 1],
                      middle: Chatroom.messages.elements[$index - 1].id_user == message.id_user && Chatroom.messages.elements[$index + 1].id_user == message.id_user && Chatroom.messages.elements[$index + 1] && Chatroom.messages.elements[$index - 1],
                      bottom: Chatroom.messages.elements[$index - 1].id_user == message.id_user && (Chatroom.messages.elements[$index + 1].id_user != message.id_user || !Chatroom.messages.elements[$index + 1]),
                    }'
                    on-finish-render='Chatroom.scroll()'>
                  <div ng-if='Chatroom.messages.elements[$index - 1].id_user != message.id_user' class="user-name">
                    {(message.username)}
                  </div>
                  <div class="message-content">
                    <div class="user">
                      <div style='background-image: url("{(message.path_img)}")'></div>
                    </div>
                    <div class='text'>{(message.message)}</div>
                    <div class="time">
                      <div>{(message.date_created | date: 'HH:mm')}</div>
                    </div>
                    <div class="report" ng-if='!UserAdmin'>
                      <img src="/assets/signaler_grey.svg" alt="" ng-click='Chatroom.reportMessage(message)'>
                    </div>
                    <div class="report" ng-if='UserAdmin'>
                      <img src="/assets/delete_grey.svg" alt="" ng-click='Chatroom.deleteMessage(message)'>
                    </div>
                  </div>
              </div>
          </div>
          <div class="footer" ng-if='UserConnected'>
            <input id='sendMessage' autocomplete='off' type="text" name="message" value="" placeholder='Votre message...'
                    ng-model='Chatroom.messages.inputMessage'
                    vg-enter='Chatroom.messages.send()'>
            <button class="bouton-send" ng-click='Chatroom.messages.send()'>
              <img src="/assets/send.svg" alt="Envoyer le message">
            </button>
          </div>
        </article>

        <article id='Infos' ng-if='UserConnected'>
          <div class="header">
            Informations
          </div>
          <div class="ng-cloak content">
            <div class="book-form-preview">
              <div class="book-blur" style='background-image: url({(Chatroom.infos.book.img)})'></div>
              <div class="input-form-wrap">
                <div class="cover" style='background-image: url({(Chatroom.infos.book.img.length > 10?Chatroom.infos.book.img:"/assets/no_thumbnail.jpg")})'>
                </div>
              </div>
              <div class="input-form-wrap">
                <div class="title-book">
                  {(Chatroom.infos.book.name? (Chatroom.infos.book.name | cap) : 'Titre du livre')}
                </div>
              </div>
            </div>
            <div class="show-details" ng-click='Chatroom.infos.details = !Chatroom.infos.details'>
              {(Chatroom.infos.details?'Cacher':'Afficher')} les details du livre
              <img src="/assets/expand_down.svg" alt="" ng-class='{rotate: Chatroom.infos.details}'>
            </div>
            <div class="infos-book" ng-if='Chatroom.infos.details'>
              <div class="infos-header">
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/euro.svg">
                  </div>
                  <div class='i-h-text'>{(Chatroom.infos.book.price || '-')}</div>
                </div>
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/book.svg">
                  </div>
                  <div class='i-h-text'>{(Chatroom.infos.book.numberPage || '-')} <span ng-if='Chatroom.infos.book.numberPage'>pages</span></div>
                </div>
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/date.svg">
                  </div>
                  <div class='i-h-text'>{(Chatroom.infos.book.releaseDate.timestamp | date:'dd/MM/y' || '-')}</div>
                </div>
              </div>

              <div class="info-book">
                <rating-form vg-init='Chatroom.infos.book.note'
                             vg-count='Chatroom.infos.book.nbrNotes'
                             vg-editable='false'
                             vg-displaynote='true'>
                </rating-form>
              </div>
              <div class="info-book" ng-if='Chatroom.infos.book.categories.length'>
                <ul class='token-container center'>
                  <li class='token' ng-repeat='token in Chatroom.infos.book.categories'>
                    <span>{(token.name)}</span>
                  </li>
                </ul>
              </div>
              <div class="info-book">
                <div class="i-b-title">Autheur</div>
                <div class="i-b-content">{(Chatroom.infos.book.author || '-')}</div>
              </div>
              <div class="info-book" ng-if='Chatroom.infos.book.username'>
                <div class="i-b-title">Ajouté par </div>
                <a class="i-b-content capitalize" ng-class='{link: Chatroom.infos.book}' target='_blank'
                ng-href='/profile/{(Chatroom.infos.book.userId || "#")}'>{(Chatroom.infos.book.username || '-')}</a>
              </div>
              <div class="info-book">
                <div class="i-b-title">Description</div>
                <div class="i-b-content">{(Chatroom.infos.book.description || '-')}</div>
              </div>
              <div class="info-book" ng-if='Chatroom.infos.book.buyLink'>
                <div class="i-b-title">Lien d'achat</div>
                <a class="i-b-content" ng-class='{link: Chatroom.infos.book}' target='_blank'
                ng-href='{(Chatroom.infos.book.buyLink || "#")}'>{(Chatroom.infos.book.buyLink?'Lien Play Store':'-')}</a>
              </div>
            </div>

            <div class="salon-list" ng-if='!Chatroom.salons.notAllowed'>
              <div class="s-l-title">
                Options
              </div>
              <ul class='ng-cloak'>
                <li ng-repeat='option in Chatroom.options' ng-class='{"popup-bouton": option.popup}' ng-click='Chatroom.execute(option.action)' popup='{(option.popup)}'>
                  <img class='ng-cloak icon' src='/assets/{(option.icon)}.svg'>
                  <span>{(option.text)}</span>
                </li>
              </ul>
            </div>

            <div class="salon-list" ng-if='!Chatroom.salons.notAllowed'>
              <div class="s-l-title">
                Personnes
              </div>
              <ul>
                <li ng-repeat='user in Chatroom.infos.users track by user.id'>
                  <div class="ng-cloak profil" style='background-image: url("{(user.path_img)}")'></div>
                  <span>{(user.username)}</span>
                </li>
              </ul>
            </div>
          </div>

        </article>

      </section>

    </div>

    <div id='popup-createSalon' ng-click='createSalon.toggle()' class="popup-box" style='width: 400px' state='false'>
        <img id='pin' src="/assets/up.png" alt="">
        <div class="header">
            Ajouter un salon
        </div>
        <div class="content">
          <form name='createSalonX' ng-submit='createSalon.submit()' autocomplete="off">
            <search-form vg-model='createSalon.values.book'
                        vg-data='createSalon.elements.search'
                        vg-source='{(createSalon.elements.search.source)}'
                        vg-only-select='true'
                        vg-origin='"base"'
                        on-select-result='createSalon.selectResult(result)'>
            </search-form>
            <div class='previewContent' ng-if='createSalon.values.book.idMedia' book>
              <div class="cover"
              style='background-image: url({(createSalon.values.book.img?createSalon.values.book.img:"/assets/no_thumbnail.jpg")})'>
              </div>
              <div class="infos">
                <span class='title'>{(createSalon.values.book.name)}</span>
                <span class='author'>{(createSalon.values.book.author)}</span>
                <span class='description'>{(createSalon.values.book.description)}</span>
              </div>
            </div>
            <text-form vg-model='createSalon.values.name'
                        vg-type='createSalon.elements.name.type'
                        vg-name='createSalon.elements.name.name'
                        vg-placeholder='createSalon.elements.name.placeholder'
                        vg-validator='createSalon.elements.name.validator'
                        vg-errors='createSalon.elements.name.errors'
                        vg-required='createSalon.elements.name.required'>
            </text-form>
            <date-between-form vg-model-start='createSalon.values.date_start'
                               vg-model-start-time='createSalon.values.date_startTime'
                               vg-model-end='createSalon.values.date_end'
                               vg-model-end-time='createSalon.values.date_endTime'
                               vg-data='createSalon.elements.dates'>
            </date-between-form>

            <!-- <pre>{(createSalon.values | json)}</pre> -->
        </div>
        <div class="footer">
          <button type='button' class="bouton" design='blanc' ng-click='createSalon.reset()'>Vider les champs</button>
          <button type='submit' ng-disabled='createSalon.loading || createSalonX.$invalid' class="bouton" design='green'
          ng-class='{submitting: createSalon.loading}'>Créer le salon
            <div class="loading-spinner white"></div>
          </button>
        </div>
        </form>
        <img id='pin2' src="/assets/down.png" alt="">
    </div>

    <div id='popup-inviteFriend' class="popup-box" style='width: 300px' state='false'>
        <img id='pin' src="/assets/up.png" alt="">
        <div class="header">
            Inviter un ami
        </div>
        <div class="content">
          <form name='inviteFriendX' ng-submit='inviteFriend.submit()' autocomplete="off">
            <search-form vg-model='inviteFriend.values.user'
                        vg-data='inviteFriend.elements.search'
                        vg-source='{(inviteFriend.elements.search.source)}'
                        vg-only-select='true'
                        vg-origin='"users"'
                        on-select-result='inviteFriend.selectResult(result)'>
            </search-form>
            <div class='previewContent' ng-if='inviteFriend.values.user.id' user>
              <div class="cover user"
              style='background-image: url({(inviteFriend.values.user.pathImg?inviteFriend.values.user.pathImg:"/assets/no_thumbnail.jpg")})'>
              </div>
              <div class="infos">
                <span class='name'>{(inviteFriend.values.user.username)}</span>
              </div>
            </div>
        </div>
        <div class="footer">
          <button class="bouton" type='submit' design='green'
          ng-disabled='inviteFriendX.$invalid'>Inviter dans le salon</button>
        </div>
        </form>
        <img id='pin2' src="/assets/down.png" alt="">
    </div>

</ng-controller>

{% endblock %}
