{% extends 'base.html.twig' %}
{% block body %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <label>Email</label>
    <input type="text" name="_username" required="required" />

    <label>Password</label>
    <input type="password" name="_password" required="required" />

    <button type="submit">Submit</button>
</form>
{% endblock body %}