{% extends 'base.html.twig' %}
{% block body %}
<ng-controller ng-controller='homepage'>
    <div id="home">
        <section class="contexte">
            <div class="title">
                Contexte
            </div>
            <div class="content">
                <p class='image'>
                    <img class='' src="/assets/logoCrop.png" alt="">
                </p>
                <br>
                <p>
                    {{ context.concept | raw }}
                </p>
            </div>
            <div class="footer">

            </div>
        </section>

        <section class="">
            <div class="title">
                A la une
            </div>
            <div class="content">
                <ul id='books-une' class='list-books'>
                  <div class="ng-cloak loader-content" ng-if='BooksUne.loading || BooksUne.error'>
                    <div ng-show='!BooksUne.error && BooksUne.loading' taille='big' class="loading-spinner"></div>
                    <div class='error' ng-show='BooksUne.error'>
                      {(BooksUne.error)}
                    </div>
                  </div>
                  <li ng-repeat='book in BooksUne.elements track by book.idMedia'
                      class='ng-cloak book-wrapper'
                      ng-click='BooksUne.show(book)'>
                      <!-- <div class="cover-blur" ng-cloak style='background-image: url("{(book.img)}")' ></div> -->
                      <div class="cover-wrap">
                        <div class="ng-cloak cover" style='background-image: url("{(book.img)}")'></div>
                      </div>
                      <div class="book-info-wrapper">
                        <div class="name info-book" ng-cloak>{(book.name)}</div>
                        <div class="author info-book" ng-cloak>{(book.author)}</div>
                        <rating-form vg-init='book.note' vg-editable='false'
                                      vg-displaynote='false'>
                        </rating-form>
                      </div>
                  </li>
                  <div ng-if='Library.lazyProcessing && !Library.endOfContent' class="ng-cloak padding-lazyContent">
                    <div class="loading-spinner" taille='medium'></div>
                  </div>
                </ul>
            </div>
        </section>
        <section class="contact">
            <div class="title">
                Nous contacter
            </div>
            <div class="content">
              <div class="contact-form">
                <form class="" action="index.html" method="post">
                  <label class='label'>Votre nom</label>
                  <input type="text" class='input-form' name="" placeholder="Nom...">

                  <label class='label'>Votre email</label>
                  <input type="mail" class='input-form' name="" placeholder="Mail...">

                  <label class='label'>Sujet de votre message</label>
                  <input type="text" class='input-form' name="" placeholder="Sujet...">

                  <label class='label'>Votre message</label>
                  <textarea type="text" class='input-form' name="" placeholder="Message..."></textarea>

                  <div class="footer">
                    <div class="bouton" design='green'>
                      Envoyer
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </section>
    </div>

    <aside>
        <section class='incription'>
            <div class="title green">
                S'inscrire à Club des Critiques
            </div>
            <div class="content">
                <p>Indiquez votre adresse mail. <br>
                    Nous vous enverrons un mot de passe provisoire et un lien pour remplir votre profil</p>
                <form name='mailRegisterX' ng-submit='mailRegister.submit(mailRegister.values)'>
                  <text-form vg-model='mailRegister.values.mail'
                              vg-type='mailRegister.elements.mail.type'
                              vg-name='mailRegister.elements.mail.name'
                              vg-placeholder='mailRegister.elements.mail.placeholder'
                              vg-validator='mailRegister.elements.mail.validator'
                              vg-errors='mailRegister.elements.mail.errors'
                              vg-required='mailRegister.elements.mail.required'>
                  </text-form>
                  <div class="footer">
                    <button class="bouton" type='submit' design='green'
                        ng-disabled='mailRegisterX.$invalid || mailRegister.submitting'
                        ng-class='{submitting: mailRegister.submitting}'>S'inscrire
                      <div class="loading-spinner inline-block white"></div>
                    </button>
                  </div>
                </form>

                <!-- <pre>{(mailRegister.values | json)}</pre> -->
            </div>
        </section>
        <section>
            <div class="title">
                Prochain Salon <span>(Ouvre dans 20 minutes)</span>
            </div>
            <div class="content nopadding">
              <div class="book-form-preview">
                <div class="book-blur" style='background-image: url({(ProchainSalon.book.img)})'></div>
                <div class="input-form-wrap">
                  <div class="cover" style='background-image: url({(ProchainSalon.book.img.length > 10?ProchainSalon.book.img:"/assets/no_thumbnail.jpg")})'>
                  </div>
                </div>
                <div class="input-form-wrap">
                  <div class="title-book">
                    {(ProchainSalon.book.name? (ProchainSalon.book.name | cap) : 'Titre du livre')}
                  </div>
                </div>
              </div>
              <div class="time-until">

              </div>
              <div class="show-details" ng-click='ProchainSalon.details = !ProchainSalon.details'>
                {(ProchainSalon.details?'Cacher':'Afficher')} les details du livre
                <img src="/assets/expand_down.svg" alt="" ng-class='{rotate: ProchainSalon.details}'>
              </div>
              <div class="infos-book" ng-if='ProchainSalon.details'>
                <div class="infos-header">
                  <div class="i-h-info">
                    <div class="i-h-img">
                      <img src="/assets/euro.svg">
                    </div>
                    <div class='i-h-text'>{(ProchainSalon.book.price || '-')}</div>
                  </div>
                  <div class="i-h-info">
                    <div class="i-h-img">
                      <img src="/assets/book.svg">
                    </div>
                    <div class='i-h-text'>{(ProchainSalon.book.numberPage || '-')} <span ng-if='ProchainSalon.book.numberPage'>pages</span></div>
                  </div>
                  <div class="i-h-info">
                    <div class="i-h-img">
                      <img src="/assets/date.svg">
                    </div>
                    <div class='i-h-text'>{(ProchainSalon.book.releaseDate.timestamp | date:'dd/MM/y' || '-')}</div>
                  </div>
                </div>

                <div class="info-book">
                  <rating-form vg-init='ProchainSalon.book.note'
                               vg-count='ProchainSalon.book.nbrNotes'
                               vg-editable='false'
                               vg-displaynote='true'>
                  </rating-form>
                </div>
                <div class="info-book" ng-if='ProchainSalon.book.categories.length'>
                  <ul class='token-container center'>
                    <li class='token' ng-repeat='token in ProchainSalon.book.categories'>
                      <span>{(token.name)}</span>
                    </li>
                  </ul>
                </div>
                <div class="info-book">
                  <div class="i-b-title">Autheur</div>
                  <div class="i-b-content">{(ProchainSalon.book.author || '-')}</div>
                </div>
                <div class="info-book" ng-if='ProchainSalon.book.username'>
                  <div class="i-b-title">Ajouté par </div>
                  <a class="i-b-content capitalize" ng-class='{link: ProchainSalon.book.username}' target='_blank'
                  ng-href='{(ProchainSalon.book.username || "#")}'>{(ProchainSalon.book.username || '-')}</a>
                </div>
                <div class="info-book">
                  <div class="i-b-title">Description</div>
                  <div class="i-b-content">{(ProchainSalon.book.description || '-')}</div>
                </div>
                <div class="info-book" ng-if='ProchainSalon.book.buyLink'>
                  <div class="i-b-title">Lien d'achat</div>
                  <a class="i-b-content" ng-class='{link: ProchainSalon.book}' target='_blank'
                  ng-href='{(ProchainSalon.book.buyLink || "#")}'>{(ProchainSalon.book.buyLink?'Lien Play Store':'-')}</a>
                </div>
              </div>
            </div>
            <div class="footer">
                <div class="bouton" design='green'>
                    Rejoindre
                </div>
            </div>
        </section>
    </aside>
    <!-- Elements cachés -->

    <div id='bookshow-window' class="ng-cloak popup-window" ng-if='BooksUne.display'
          ng-click='BooksUne.hide()'>
      <div class="window" ng-click='$event.stopPropagation();'>
          <div class="header">
              Aperçu d'un livre

              <a href="#"><img src="/assets/link.svg" class='externalLink' alt="Ouvrir le lien de la page"></a>
              <img src="/assets/quit.svg" class='closePopupWindow' ng-click='BooksUne.hide()' alt="Fermer la fenêtre">
          </div>
          <div class="content">
            <div class="book-form-preview">
              <div class="book-blur" style='background-image: url({(BooksUne.bookShow.img)})'></div>
              <div class="input-form-wrap">
                <div class="cover" style='background-image: url({(BooksUne.bookShow.img.length > 10?BooksUne.bookShow.img:"/assets/no_thumbnail.jpg")})'>
                </div>
              </div>
              <div class="input-form-wrap">
                <div class="title-book">
                  {(BooksUne.bookShow.name? (BooksUne.bookShow.name | cap) : 'Titre du livre')}
                </div>
              </div>
            </div>
            <div class="infos-book">
              <div class="infos-header">
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/euro.svg">
                  </div>
                  <div class='i-h-text'>{(BooksUne.bookShow.price || '-')}</div>
                </div>
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/book.svg">
                  </div>
                  <div class='i-h-text'>{(BooksUne.bookShow.numberPage || '-')} <span ng-if='BooksUne.bookShow.numberPage'>pages</span></div>
                </div>
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/date.svg">
                  </div>
                  <div class='i-h-text'>{(BooksUne.bookShow.releaseDate.timestamp | date:'dd/MM/y' || '-')}</div>
                </div>
              </div>

              <div class="info-book">
                <rating-form vg-init='BooksUne.bookShow.note'
                             vg-count='BooksUne.bookShow.nbrNotes'
                             vg-editable='false'
                             vg-displaynote='true'>
                </rating-form>
              </div>
              <div class="info-book" ng-if='BooksUne.bookShow.categories.length'>
                <ul class='token-container center'>
                  <li class='token' ng-repeat='token in BooksUne.bookShow.categories'>
                    <span>{(token.name)}</span>
                  </li>
                </ul>
              </div>
              <div class="info-book">
                <div class="i-b-title">Autheur</div>
                <div class="i-b-content">{(BooksUne.bookShow.author || '-')}</div>
              </div>
              <div class="info-book" ng-if='BooksUne.bookShow.username'>
                <div class="i-b-title">Ajouté par</div>
                <a class="i-b-content capitalize" ng-class='{link: BooksUne.bookShow}' target='_blank'
                ng-href='{(BooksUne.bookShow.username || "#")}'>{(BooksUne.bookShow.username || '-')}</a>
              </div>
              <div class="info-book">
                <div class="i-b-title">Description</div>
                <div class="i-b-content">{(BooksUne.bookShow.description || '-')}</div>
              </div>
              <div class="info-book" ng-if='BooksUne.bookShow.buyLink'>
                <div class="i-b-title">Lien d'achat</div>
                <a class="i-b-content" ng-class='{link: BooksUne.bookShow}' target='_blank'
                ng-href='{(BooksUne.bookShow.buyLink || "#")}'>{(BooksUne.bookShow.buyLink?'Lien Play Store':'-')}</a>
              </div>

            </div>
          </div>
          <div class="footer">
            <div class="note-action" ng-if='UserConnected && BooksUne.notation'>
              <rating-form vg-model='BooksUne.notationCount'
                            vg-name='"noteUserBook"'
                            vg-editable='true'
                            vg-init='0'
                            vg-displaynote='true'
                            on-select-result='BooksUne.sendNote(note)'>
              </rating-form>
            </div>
            <div class="bouton" design='blanc' ng-click='BooksUne.hide()'>Fermer</div>
            <div class="bouton green" design='blanc' ng-click='BooksUne.toggleNote()'>Noter</div>
          </div>
      </div>
    </div>

</ng-controller>
{% endblock %}
