{% extends 'base.html.twig' %}
{% block body %}
<ng-controller ng-controller='library'>
    <div id="library">
      <section>
        <article id="categories">
          <div class="title">
            Filtrer
          </div>
          <div class="options-tri" ng-cloak>
            <div id='library-categories' class="options-container">
              <div class="list-search">
                <input class='s-search' type="text" ng-model='Library.categories.filter.name' placeholder="Filtrer les catégories">
                <div class="s-icon"></div>
              </div>
              <div class="type">
                Catégories
              </div>
              <div class="list">
                <div class="loader-content" ng-if='Library.categories.loading'><div size='20' class="loading-spinner"></div></div>
                  <div class="ng-cloak checkbox" ng-show='!Library.categories.loading'
                      ng-repeat='c in Library.categories.elements | filter: Library.categories.filter track by c.idCategory' >
                      <input id='{(c.idCategory)}' ng-model='Library.categories.values[c.idCategory]'
                      ng-change='Library.filter()' ng-true-value='{(c.idCategory)}' ng-false-value='undefined' type="checkbox"/>
                      <label for="{(c.idCategory)}"></label>
                      <span>{(c.name)}</span>
                  </div>
              </div>
              <!-- <pre>{(Library.categories.values | json)}</pre>
              <pre>No one selected :{(Library.categories.noSelected() | json)}</pre> -->
            </div>
          </div>
        </article>

        <article id="book-library">
          <div class="title">
            <div class="group" ng-cloak>
              <span>Trier par</span>
              <select ng-model='Library.order.value'
                      ng-options='option.label for option in Library.order.elements'
                      ng-init='Library.order.value = Library.order.elements[0]'
                      ng-change='Library.filter()' >
              </select>
            </div>
            <div class="group">
              <span>Ordre</span>
              <select ng-model='Library.tri.value'
                      ng-options='option.label for option in Library.tri.elements'
                      ng-init='Library.tri.value = Library.tri.elements[0]'
                      ng-change='Library.filter()' >
              </select>
            </div>
            <div ng-if='UserConnected' class="group">
              <div class="bouton openPopupWindow" ng-click='AddBookForm.show()' design='blanc'>
                <img src="/assets/add.svg" alt="Ajouter un livre" >Ajouter un livre
              </div>
            </div>
          </div>
          <div class="library-list" lazyload='Library.loadNext()'>
            <div class="ng-cloak admin-books" ng-if='UserAdmin'>
              <ul class="ui-tabs">
                <li ng-repeat='tab in Library.tabs.elements track by $index'>
                  <input id='radio-{(tab.value)}' type="radio" ng-model='Library.adminView'
                  name="libraryTabs" ng-value="{(tab.value)}" ng-change='Library.changeView()'>
                  <label for="radio-{(tab.value)}">
                    {(tab.title)}
                  </label>
                </li>
              </ul>
            </div>
            <ul class="books-list">
              <div class="ng-cloak loader-content" ng-if='Library.books.loading || Library.books.error'>
                <div ng-show='!Library.books.error && Library.books.loading' taille='big' class="loading-spinner"></div>
                <div class='error' ng-show='Library.books.error'>
                  {(Library.books.error)}
                </div>
              </div>
              <li ng-repeat='book in Library.books.elements track by book.idMedia'
                  class='ng-cloak book-wrapper'
                  ng-click='Library.books.show(book)'
                  on-finish-render='Library.lazyProcessing = false'>
                  <!-- <div class="cover-blur" ng-cloak style='background-image: url("{(book.img)}")' ></div> -->
                  <div class="cover-wrap">
                    <div class="ng-cloak cover" style='background-image: url("{(book.img)}")'></div>
                  </div>
                  <div class="book-info-wrapper">
                    <div class="name info-book" ng-cloak>{(book.name)}</div>
                    <div class="author info-book" ng-cloak>{(book.author)}</div>
                    <rating-form vg-init='book.note' vg-editable='false'
                                  vg-displaynote='false'>
                    </rating-form>
                  </div>
              </li>
              <div ng-if='Library.lazyProcessing && !Library.endOfContent' class="ng-cloak padding-lazyContent">
                <div class="loading-spinner" taille='medium'></div>
              </div>
            </ul>
          </div>
        </article>

      </section>

    </div>



<!-- Popups -->

    <div id='addBook-window' class="ng-cloak popup-window" ng-show='AddBookForm.display' ng-click='AddBookForm.hide()'>
      <div class="window" ng-click='$event.stopPropagation();' style='width: 900px'>
        <form name='AddBookFormX' ng-submit='AddBookForm.submit()' autocomplete="off">

          <div class="header double">
              <span>Ajouter un livre</span>
              <span>Aperçu du livre</span>
              <img src="/assets/quit.svg" class='closePopupWindow' alt="Fermer la fenêtre" ng-click='AddBookForm.hide()'>
          </div>
          <div class="content">
              <div class="form-section" >
                <div class="legend">
                  La recherche par titre va completer automatiquement les informations du livre
                </div>
                <search-form vg-model='AddBookForm.values.search'
                            vg-data='AddBookForm.elements.search'
                            vg-source='{(AddBookForm.elements.search.source)}'
                            vg-only-select='false'
                            vg-origin='"google"'
                            on-select-result='AddBookForm.selectResult(result)'>
                </search-form>
                <text-form vg-model='AddBookForm.values.author'
                            vg-type='AddBookForm.elements.author.type'
                            vg-name='AddBookForm.elements.author.name'
                            vg-placeholder='AddBookForm.elements.author.placeholder'
                            vg-validator='AddBookForm.elements.author.validator'
                            vg-errors='AddBookForm.elements.author.errors'
                            vg-required='AddBookForm.elements.author.required'>
                </text-form>
                <text-form vg-model='AddBookForm.values.illustration'
                            vg-type='AddBookForm.elements.illustration.type'
                            vg-name='AddBookForm.elements.illustration.name'
                            vg-placeholder='AddBookForm.elements.illustration.placeholder'
                            vg-validator='AddBookForm.elements.illustration.validator'
                            vg-errors='AddBookForm.elements.illustration.errors'
                            vg-required='AddBookForm.elements.illustration.required'>
                </text-form>
                <text-form vg-model='AddBookForm.values.pages'
                            vg-type='AddBookForm.elements.pages.type'
                            vg-name='AddBookForm.elements.pages.name'
                            vg-placeholder='AddBookForm.elements.pages.placeholder'
                            vg-validator='AddBookForm.elements.pages.validator'
                            vg-errors='AddBookForm.elements.pages.errors'
                            vg-required='AddBookForm.elements.pages.required'>
                </text-form>
                <area-form vg-model='AddBookForm.values.description'
                            vg-type='AddBookForm.elements.description.type'
                            vg-name='AddBookForm.elements.description.name'
                            vg-placeholder='AddBookForm.elements.description.placeholder'
                            vg-validator='AddBookForm.elements.description.validator'
                            vg-errors='AddBookForm.elements.description.errors'
                            vg-required='AddBookForm.elements.description.required'>
                </area-form>
                <text-form vg-model='AddBookForm.values.date'
                            vg-type='AddBookForm.elements.date.type'
                            vg-name='AddBookForm.elements.date.name'
                            vg-placeholder='AddBookForm.elements.date.placeholder'
                            vg-validator='AddBookForm.elements.date.validator'
                            vg-errors='AddBookForm.elements.date.errors'
                            vg-required='AddBookForm.elements.date.required'
                            vg-legend='AddBookForm.elements.date.legend'>
                </text-form>
                <token-form vg-model='AddBookForm.values.categories'
                            vg-data='AddBookForm.elements.categories'
                            vg-source='AddBookForm.elements.categories.source'>
                </token-form>
                <div class='legend'>Veuillez donner une note pour ce livre</div>
                <rating-form vg-model='AddBookForm.values.rating'
                              vg-required='AddBookForm.elements.rating.required'
                              vg-name='AddBookForm.elements.rating.name'
                              vg-editable='AddBookForm.elements.rating.editable'
                              vg-init='AddBookForm.elements.rating.init'
                              vg-displaynote='false'>
                </rating-form>
                <!-- <input type="checkbox" ng-init='debugForm = false' ng-model='debugForm'> Afficher valeurs de debug
                <pre ng-if='debugForm'>{(AddBookForm.values | json)}</pre> -->
              </div><!--
            --><div class="form-section" color>
                  <div class="book-form-preview" >
                    <div class="book-blur" style='background-image: url({(AddBookForm.values.illustration)})'></div>
                    <div class="input-form-wrap">
                      <div class="cover" ng-show='!AddBookForm.coverLoaded && AddBookForm.coverSearching'>
                        <div class="loading-spinner"></div>
                      </div>
                      <div class="cover" ng-show='!AddBookForm.coverLoaded && !AddBookForm.coverSearching' style='background-image: url("/assets/no_thumbnail.jpg")'>
                      </div>
                      <div class="cover" ng-show='AddBookForm.coverLoaded && !AddBookForm.coverSearching' style='background-image: url({(AddBookForm.values.illustration.length > 10?AddBookForm.values.illustration:"/assets/no_thumbnail.jpg")})'>
                      </div>
                    </div>
                    <div class="input-form-wrap">
                      <div class="title-book">
                        {(AddBookForm.values.search? (AddBookForm.values.search | cap) : 'Titre du livre')}
                      </div>
                    </div>
                  </div>
                  <div class="infos-book">
                    <div class="infos-header">
                      <div class="i-h-info">
                        <div class="i-h-img">
                          <img src="/assets/euro.svg">
                        </div>
                        <div class='i-h-text'>{(AddBookForm.values.price || '-')}</div>
                      </div>
                      <div class="i-h-info">
                        <div class="i-h-img">
                          <img src="/assets/book.svg">
                        </div>
                        <div class='i-h-text'>{(AddBookForm.values.pages || '-')} <span ng-if='AddBookForm.values.pages'>pages</span></div>
                      </div>
                      <div class="i-h-info">
                        <div class="i-h-img">
                          <img src="/assets/date.svg">
                        </div>
                        <div class='i-h-text'>{( (AddBookForm.values.date | date:'yyyy-MM-dd') || '-')}</div>
                      </div>
                    </div>
                    <div class="info-book" ng-if='AddBookForm.values.rating'>
                      <rating-form vg-init='AddBookForm.values.rating' vg-editable='false'
                                    vg-displaynote='true'>
                      </rating-form>
                    </div>
                    <div class="info-book" ng-if='AddBookForm.values.categories.length'>
                      <ul class='token-container center'>
                        <li class='token' ng-repeat='token in AddBookForm.values.categories'>
                          <span>{(token.name)}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="info-book" ng-if='AddBookForm.values.author'>
                      <div class="i-b-title">Autheur</div>
                      <div class="i-b-content">{(AddBookForm.values.author || '-')}</div>
                    </div>
                    <div class="info-book" ng-if='AddBookForm.values.description'>
                      <div class="i-b-title">Description</div>
                      <div class="i-b-content">{(AddBookForm.values.description || '-')}</div>
                    </div>

                    <div class="info-book" ng-if='AddBookForm.values.buyLink'>
                      <div class="i-b-title">Lien d'achat</div>
                      <a class="i-b-content" ng-class='{link: AddBookForm.values.buyLink}' target='_blank'
                      ng-href='{(AddBookForm.values.buyLink || "#")}'>{(AddBookForm.values.buyLink?'Lien Play Store':'-')}</a>
                    </div>

                  </div>
              </div>
          </div>
          <div class="footer">
            <div class="bouton" design='blanc' ng-click='AddBookForm.annul()'>Annuler</div>
            <div class="bouton" design='blanc' ng-click='AddBookForm.reset()'>Vider les champs</div>
            <button class="bouton" type='submit' design='green'
                ng-disabled='AddBookFormX.$invalid || AddBookForm.submitting'
                ng-class='{submitting: AddBookForm.submitting}'>Ajouter un livre
              <div class="loading-spinner inline-block white"></div>
            </button>

          </div>

        </form>
      </div>
    </div>


    <div id='bookshow-window' class="ng-cloak popup-window" ng-if='Library.books.display'
          ng-click='Library.books.hide()'>
      <div class="window" ng-click='$event.stopPropagation();'>
          <div class="header">
              Aperçu d'un livre

              <a href="#"><img src="/assets/link.svg" class='externalLink' alt="Ouvrir le lien de la page"></a>
              <img src="/assets/quit.svg" class='closePopupWindow' ng-click='Library.books.hide()' alt="Fermer la fenêtre">
          </div>
          <div class="content">
            <div class="book-form-preview">
              <div class="book-blur" style='background-image: url({(Library.books.bookShow.img)})'></div>
              <div class="input-form-wrap">
                <div class="cover" style='background-image: url({(Library.books.bookShow.img.length > 10?Library.books.bookShow.img:"/assets/no_thumbnail.jpg")})'>
                </div>
              </div>
              <div class="input-form-wrap">
                <div class="title-book">
                  {(Library.books.bookShow.name? (Library.books.bookShow.name | cap) : 'Titre du livre')}
                </div>
              </div>
            </div>
            <div class="infos-book">
              <div class="infos-header">
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/euro.svg">
                  </div>
                  <div class='i-h-text'>{(Library.books.bookShow.price || '-')}</div>
                </div>
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/book.svg">
                  </div>
                  <div class='i-h-text'>{(Library.books.bookShow.numberPage || '-')} <span ng-if='Library.books.bookShow.numberPage'>pages</span></div>
                </div>
                <div class="i-h-info">
                  <div class="i-h-img">
                    <img src="/assets/date.svg">
                  </div>
                  <div class='i-h-text'>{(Library.books.bookShow.releaseDate.timestamp | date:'dd-MM-y' || '-')}</div>
                </div>
              </div>

              <div class="info-book">
                <rating-form vg-init='Library.books.bookShow.note'
                             vg-editable='false'
                             vg-displaynote='true'>
                </rating-form>
              </div>
              <div class="info-book" ng-if='Library.books.bookShow.categories.length'>
                <ul class='token-container center'>
                  <li class='token' ng-repeat='token in Library.books.bookShow.categories'>
                    <span>{(token.name)}</span>
                  </li>
                </ul>
              </div>
              <div class="info-book">
                <div class="i-b-title">Autheur</div>
                <div class="i-b-content">{(Library.books.bookShow.author || '-')}</div>
              </div>
              <div class="info-book">
                <div class="i-b-title">Description</div>
                <div class="i-b-content">{(Library.books.bookShow.description || '-')}</div>
              </div>
              <div class="info-book" ng-if='Library.books.bookShow.buyLink'>
                <div class="i-b-title">Lien d'achat</div>
                <a class="i-b-content" ng-class='{link: Library.books.bookShow}' target='_blank'
                ng-href='{(Library.books.bookShow.buyLink || "#")}'>{(Library.books.bookShow.buyLink?'Lien Play Store':'-')}</a>
              </div>

            </div>
          </div>
          <div class="footer">
            <div class="bouton" design='blanc' ng-click='Library.books.hide()'>Fermer</div>
            <!-- User -->
            <div class="bouton" design='blanc' ng-if='!Library.adminView'>Signaler</div>
            <div ng-if='UserConnected && !Library.adminView' class="bouton" design='green'>Créer un salon</div>
            <!-- Admin -->
            <div ng-if='Library.adminView && UserAdmin' class="bouton" design='blanc' ng-click='Library.validate(false)'> Refuser le livre</div>
            <div ng-if='Library.adminView && UserAdmin' class="bouton" design='green' ng-click='Library.validate(true)'> Valider le livre</div>
          </div>
      </div>
    </div>
</ng-controller>

{% endblock %}
