{% extends 'base.html.twig' %}
{% block body %}
    <div id="library">

      <section>

        <article id="categories">
          <div class="title">
            Filtrer
          </div>
          <div class="options-tri">
            <div id='library-categories' class="options-container">
              <div class="type">
                Catégories
              </div>
              <div class="list">
                <div ng-repeat='c in categories' class="checkbox" ng-cloak>
                  <input id='categorie{(c.id)}' type="checkbox" name="{(c.name)}">
                  <label value='{(c.name)}' for="categorie{(c.id)}"></label>
                  <span>{(c.label)}</span>
                </div>
              </div>
            </div>
            <div id='' class="options-container">
              <div class="type">
                Autre
              </div>
              <div class="list">
                <div ng-repeat='c in categories' class="checkbox" ng-cloak>
                  <input id='categorie{(c.id)}' type="checkbox" name="{(c.name)}">
                  <label value='{(c.name)}' for="categorie{(c.id)}"></label>
                  <span>{(c.label)}</span>
                </div>
              </div>
            </div>
            <div id='' class="options-container">
              <div class="type">
                Autre
              </div>
              <div class="list">
                <div ng-repeat='c in categories' class="checkbox" ng-cloak>
                  <input id='categorie{(c.id)}' type="checkbox" name="{(c.name)}">
                  <label value='{(c.name)}' for="categorie{(c.id)}"></label>
                  <span>{(c.label)}</span>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article id="book-library">
          <div class="title">
            <div class="group">
              <span>Résultats</span>
              <select class="" name="">
                <option value="">20 par page</option>
              </select>
            </div>
            <div class="group">
              <span>Trier par</span>
              <select class="" name="">
                <option value="">Genre</option>
                <option value="">Prix</option>
              </select>
            </div>
            <div class="group">
              <div class="bouton" design='blanc'>
                <img src="/assets/add.svg" alt="">Ajouter un livre
              </div>
            </div>
          </div>
          <div class="biblioteque">
            <ul class="books-list">
              <li ng-repeat='book in books' class='book-preview'>

              </li>
            </ul>
          </div>
        </article>

      </section>

    </div>

    <div id='addBook' class="popup-window" ng-if='addBook'
          ng-click='addBook = false'>
      <div class="window" style='width: 500px'>
        <form name='AddBookFormX'>

          <div class="header">
              Ajouter un livre
          </div>
          <div class="content">
              <div class="legend">
                La recherche par titre va completer automatiquement les informations du livre
              </div>
              <text-form vg-model='AddBookForm.values.search'
                          vg-data='AddBookForm.elements.search'
                          vg-searching='AddBookForm.searching'
                          vg-result='AddBookForm.search_result'>
              </text-form>
              <text-form vg-model='AddBookForm.values.author'
                          vg-data='AddBookForm.elements.author'
                          vg-disabled='AddBookForm.bookFound'>
              </text-form>
              <input type="file" name="" value="Illustration">
              <area-form vg-model='AddBookForm.values.description'
                          vg-data='AddBookForm.elements.description'
                          vg-disabled='AddBookForm.bookFound'>
              </area-form>
              <text-form vg-model='AddBookForm.values.categories'
                          vg-data='AddBookForm.elements.categories'
                          vg-disabled='AddBookForm.bookFound'>
              </text-form>
              <text-form vg-model='AddBookForm.values.isbn'
                          vg-data='AddBookForm.elements.isbn'
                          vg-disabled='AddBookForm.bookFound'
                          ng-if='AddBookForm.bookFound'>
              </text-form>
              <text-form vg-model='AddBookForm.values.pages'
                          vg-data='AddBookForm.elements.pages'
                          vg-disabled='AddBookForm.bookFound'>
              </text-form>
              <text-form vg-model='AddBookForm.values.rating'
                          vg-data='AddBookForm.elements.rating'
                          vg-disabled='AddBookForm.bookFound'>
              </text-form>
              <pre>{(AddBookForm.values | json)}</pre>
          </div>
          <div class="footer">
            <button class="bouton" design='blanc'
            >Annuler</button>
            <button class="bouton" type='submit' design='green'
            ng-disabled='AddBookFormX.$invalid'>Ajouter un livre</button>
          </div>

        </form>
      </div>
    </div>

{% endblock %}
