{% extends 'base.html.twig' %}
{% block body %}
    <div id="library" ng-controller='library'>

      <section>

        <article id="categories">
          <div class="title">
            Filtrer
          </div>
          <div class="options-tri">
            <div id='library-categories' class="options-container">
              <div class="type">
                Catégories
              </div>
              <div class="list">
                <div ng-repeat='c in categories' class="checkbox" ng-cloak>
                  <input id='categorie{(c.id)}' type="checkbox" name="{(c.name)}">
                  <label value='{(c.name)}' for="categorie{(c.id)}"></label>
                  <span>{(c.label)}</span>
                </div>
              </div>
            </div>
            <div id='' class="options-container">
              <div class="type">
                Autre
              </div>
              <div class="list">
                <div ng-repeat='c in categories' class="checkbox" ng-cloak>
                  <input id='categorie{(c.id)}' type="checkbox" name="{(c.name)}">
                  <label value='{(c.name)}' for="categorie{(c.id)}"></label>
                  <span>{(c.label)}</span>
                </div>
              </div>
            </div>
            <div id='' class="options-container">
              <div class="type">
                Autre
              </div>
              <div class="list">
                <div ng-repeat='c in categories' class="checkbox" ng-cloak>
                  <input id='categorie{(c.id)}' type="checkbox" name="{(c.name)}">
                  <label value='{(c.name)}' for="categorie{(c.id)}"></label>
                  <span>{(c.label)}</span>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article id="book-library">
          <div class="title">
            <div class="group">
              <span>Résultats</span>
              <select class="" name="">
                <option value="">20 par page</option>
              </select>
            </div>
            <div class="group">
              <span>Trier par</span>
              <select class="" name="">
                <option value="">Genre</option>
                <option value="">Prix</option>
              </select>
            </div>
            <div class="group">
              <div class="bouton" design='blanc'>
                <img src="/assets/add.svg" alt="">Ajouter un livre
              </div>
            </div>
          </div>
          <div class="biblioteque">
            <ul class="books-list">
              <li ng-repeat='book in books' class='book-preview'>

              </li>
            </ul>
          </div>
        </article>

      </section>



    </div>

{% endblock %}
