@import "_variables.scss";


#chatroom{
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  color: rgb(80,80,80);
  z-index: 1001;

  section{
    height: 100%;
    margin-bottom: 0;
    box-shadow: none;
    border-top: 1px solid $w230;

    &.infos{
      article#Messages{
        width: calc(100% - 600px);
      }

      article#Infos{
        display: block;
      }
    }
  }

  article{
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;

    .header{
      position: relative;
      float: left;
      padding-left: 10px;
      height: 35px;
      line-height: 35px;
      width: 100%;
      color: rgb(100,100,100);
      background-color: $w250;
      box-shadow: 0 1px 5px transparentize($g0,0.8);
      font-weight: bold;
      font-size: 15px;
      text-align: center;
      z-index: 2;
      overflow-y: auto;
    }
  }
}



article#Salons{
  height: 100%;
  width: 300px;
  border-right: 1px solid rgb(220,220,220);

  ul.list-salons{
    position: relative;
    float: left;
    width: 100%;
    height: calc(100% - 35px);
    overflow-y: auto;

    div.salons-search{
      position: relative;
      float: left;
      height: 50px;
      width: 100%;
      padding: 10px 15px 10px 15px;
      left: 0;

      input.s-search{
        height: 100%;
        width: 100%;
        background-color: $w240;
        padding-left: 35px;
        padding-right: 20px;
        line-height: 30px;
        border-radius: 4px;
        font-size: 13px;
      }
      div.s-icon{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 15px;
        left: 25px;
        background-image: url('../assets/search.svg');
        @include bg-center;
      }
    }

    li.salons{
      position: relative;
      float: left;
      padding: 5px;
      width: 100%;
      height: 70px;
      color: white;
      cursor: pointer;
      padding-left: 10px;

      &.selected{
        background-color: $w235;
      }

      &:hover{
        background-color: $w240;
      }

      &:active{
        background-color: $w220;
      }

      .salon-cover{
        position: relative;
        float: left;
        height: 100%;
        width: 60px;
        padding: 5px;

        div{
          height: 100%;
          width: 100%;
          border-radius: 100%;
          @include bg-center;
        }
      }

      .salon-infos{
        position: relative;
        float: left;
        height: 100%;
        padding: 5px;
        width: calc(100% - 60px);

        div{
          position: relative;
          height: 50%;
          width: 100%;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .s-i-title{
          line-height: 32px;
          font-size: 14px;
          color: $g90;
        }
        .s-i-interval{
          line-height: 22px;
          font-size: 13px;
          color: rgb(160,160,160);
        }
      }
    }
  }

}


article#Messages{
  height: 100%;
  width: calc(100% - 300px);
  border-right: 1px solid rgb(220,220,220);

  .footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 5px;
    border-top: 1px solid $w230;

    input{
      height: 100%;
      width: 100%;
      line-height: 50px;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      outline: none;
      background-color: white;
    }
  }


  .messages-container{
    position: absolute;
    width: 100%;
    max-height: calc(100% - 85px);
    height: auto;
    overflow: auto;
    bottom: 50px;
    padding-top: 10px;
    padding-bottom: 5px;

    .message{
      position: relative;
      float: left;
      height: auto;
      width: 100%;
      word-wrap: break-word;
      padding: 5px;
      text-align: left;
      font-size: 13px;
      z-index: 1;
      margin-bottom: 10px;
      @include transition(all, 0.3s);

      &.ng-enter {
        opacity: 0;
        bottom: -20px;
      }

      &.ng-enter.ng-enter-active {
        opacity: 1;
        bottom: 0px;
      }

      &.top{
        margin-bottom: 2px;
        padding-bottom: 0;
        &[self='false'] .text{
          border-radius: 20px 20px 20px 4px;
        }
        &[self='true'] .text{
          border-radius: 20px 20px 4px 20px;
        }
      }

      &.middle{
        margin-bottom: 2px;
        padding-bottom: 0;
        padding-top: 0;
        .user{
          visibility: hidden;
        }
        .user-name{
          display: none;
        }
        &[self='false'] .text{
          border-radius: 4px 20px 20px 4px;
        }
        &[self='true'] .text{
          border-radius: 20px 4px 4px 20px;
        }
      }

      &.bottom{
        margin-bottom: 2px;
        padding-top: 0;
        .user{
          visibility: hidden;
        }
        .user-name{
          display: none;
        }
        &[self='false'] .text{
          border-radius: 4px 20px 20px 20px;
        }
        &[self='true'] .text{
          border-radius: 20px 4px 20px 20px;
        }
      }

      &[self='true']{
        float: right;

        .user-name{
          display: none;
        }
        .message-content{
          flex-direction: row-reverse;

          .text{
            background-color: $mainGreen2;
            color: white;
          }
        }


      }

      .user-name{
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: rgb(150,150,150);
        font-size: 11px;
        padding-left: 38px;
        padding-right: 38px;
      }

      .message-content{
        height: auto;
        width: auto;
        display: flex;
        .text{
          display: block;
          position: relative;
          float: left;
          width: auto;
          padding: 5px 13px 5px 13px;
          min-height: 20px;
          max-width: 500px;
          color: rgb(60,60,60);
          line-height: 20px;
          background-color: rgb(240,240,240);
          border-radius: 20px;
          word-wrap: break-word;
          word-break: break-all;
        }

        .time{
          position: relative;
          float: left;
          width: 50px;
          color: rgb(200,200,200);
          font-size: 10px;
          padding: 0 10px 0 10px;

          div{
            position: absolute;
            top: 50%;
            @include translateY(-50%);
          }
        }

        .user{
          display: block;
          position: relative;
          float: left;
          height: auto;

          div{
            height: 25px;
            width: 25px;
            min-width: 25px;
            border: 1px solid rgb(230,230,230);
            margin: 3px 5px 0 5px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 30px;
          }
        }
      }
    }
  }
}


#Infos{
  width: 300px;
}
