@import "_variables.scss";

$infosWidth: 350px;


#chatroom{
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  color: rgb(80,80,80);
  z-index: 1001;

  section{
    height: 100%;
    margin-bottom: 0;
    box-shadow: none;

    &.close{
      @media #{$mini} {
        article#Messages{
          width: calc(100% - 80px);
        }
      }
    }

    @media #{$mini} {
      article#Salons{
        width: 80px;

        .salon-infos, .salons-search{
          display: none;
        }
        .header{
          span{
            display: none;
          }
          img{
            right: 50%;
            @include translateX(50%);
          }
        }
      }
    }

    &.infos{
      @media #{$desktop} {
        article#Messages{
          width: calc(100% - 300px - #{$infosWidth});
        }
      }

      @media #{$mini} {
        article#Messages{
          width: calc(100% - 80px - #{$infosWidth});
        }
      }

      article#Messages{
        div.icons{
          img[show]{
            display: block;
          }
          img[hide]{
            display: none;
          }
        }
      }

      article#Infos{
        display: block;
      }
    }
    &.close{
      article#Messages{
        div.icons{
          img[hide]{
            display: block;
          }
          img[show]{
            display: none;
          }
        }
      }
    }
  }

  article{
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;

    .header{
      position: relative;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      height: 35px;
      line-height: 35px;
      width: 100%;
      color: rgb(100,100,100);
      background-color: $w250;
      box-shadow: 0 1px 5px transparentize($g0,0.8);
      font-weight: bold;
      font-size: 15px;
      text-align: center;
      z-index: 102;
      @include ellipsis;
    }
  }
}



article#Salons{
  height: 100%;
  width: 300px;
  border-right: 1px solid rgb(220,220,220);

  .header{
    .createSalon{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }

  ul.list-salons{
    position: relative;
    float: left;
    width: 100%;
    height: calc(100% - 35px);
    overflow-y: auto;
    overflow-x: hidden;

    div.salons-search{
      position: relative;
      float: left;
      height: 50px;
      width: 100%;
      padding: 10px 15px 10px 15px;
      left: 0;

      input.s-search{
        height: 100%;
        width: 100%;
        background-color: $w240;
        padding-left: 35px;
        padding-right: 20px;
        line-height: 30px;
        border-radius: 4px;
        font-size: 13px;
      }
      div.s-icon{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 15px;
        left: 25px;
        background-image: url('../assets/search.svg');
        @include bg-center;
      }
    }

    li.salons{
      position: relative;
      float: left;
      padding: 5px;
      width: 100%;
      height: 70px;
      color: white;
      cursor: pointer;
      padding-left: 10px;

      &.selected{
        background-color: $w235;
      }

      &:hover{
        background-color: $w240;
      }

      &:active{
        background-color: $w220;
      }

      .salon-cover{
        position: relative;
        float: left;
        height: 100%;
        width: 70px;
        padding: 5px 5px 5px 15px;

        div{
          height: 100%;
          width: 100%;
          border-radius: 100%;
          @include bg-center;
        }
      }

      .salon-infos{
        position: relative;
        float: left;
        height: 100%;
        padding: 5px;
        width: calc(100% - 70px);

        div{
          position: relative;
          height: 50%;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .s-i-title{
          line-height: 32px;
          font-size: 14px;
          color: $g90;
        }
        .s-i-interval{
          line-height: 22px;
          font-size: 13px;
          color: rgb(160,160,160);
        }
      }
      .salonState{
        position: absolute;
        right: left;
        top: 50%;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        @include translateY(-50%);

        &[state='false']{
          background-color: $w200;
        }
        &[state='notyet']{
          background-color: $mainMarron;
        }
        &[state='true']{
          background-color: $mainGreen2;
        }
      }
    }
  }

}


article#Messages{
  height: 100%;
  width: calc(100% - 300px);
  border-right: 1px solid rgb(220,220,220);

  .header{
    padding: 0 40px 0 10px;
    text-align: left;

    div.icons{
      position: absolute;
      right: 5px;
      top: 5px;
      height: auto;
      width: auto;
      cursor: pointer;

      img{
        right: 5px;
        top: 5px;
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 5px;
    border-top: 1px solid $w230;

    input{
      height: 100%;
      width: 100%;
      line-height: 50px;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
      padding-right: 40px;
      font-size: 15px;
      outline: none;
      background-color: white;
    }

    .bouton-send{
      position: absolute;
      right: 0px;
      top: 0px;
      width: 40px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }


  #messages-container{
    position: absolute;
    width: 100%;
    height: calc(100% - 85px);
    overflow: auto;
    top: 35px;
    padding-top: 10px;
    padding-bottom: 5px;

    .message{
      position: relative;
      float: left;
      height: auto;
      width: 100%;
      word-wrap: break-word;
      padding: 5px;
      text-align: left;
      font-size: 13px;
      z-index: 1;
      margin-bottom: 10px;


      &[self='true'][new='true'].ng-enter {
        @include transition(right 0.3s);
        right: -20px;
      }

      &[self='true'][new='true'].ng-enter.ng-enter-active {
        right: 0px;
      }

      &[self='false'][new='true'].ng-enter {
        @include transition(left 0.3s);
        left: -20px;
      }

      &[self='false'][new='true'].ng-enter.ng-enter-active {
        left: 0px;
      }

      &[self='true'].ng-leave {
        @include transition(right 0.5s, opacity 0.5s, max-height 0.5s);
        right: 0px;
        opacity: 1;
        max-height: 200px;
      }

      &[self='true'].ng-leave.ng-leave-active {
        right: -70%;
        opacity: 0;
        max-height: 0px;
      }

      &[self='false'].ng-leave {
        @include transition(left 0.5s, opacity 0.5s, max-height 0.5s);
        left: 0px;
        opacity: 1;
        max-height: 200px;
      }

      &[self='false'].ng-leave.ng-leave-active {
        left: -70%;
        opacity: 0;
        max-height: 0px;
      }


      &.top{
        margin-bottom: 2px;
        padding-bottom: 0;
        &[self='false'] .text{
          border-radius: 20px 20px 20px 4px;
        }
        &[self='true'] .text{
          border-radius: 20px 20px 4px 20px;
        }
      }

      &.middle{
        margin-bottom: 2px;
        padding-bottom: 0;
        padding-top: 0;
        .user{
          visibility: hidden;
        }
        .user-name{
          display: none;
        }
        &[self='false'] .text{
          border-radius: 4px 20px 20px 4px;
        }
        &[self='true'] .text{
          border-radius: 20px 4px 4px 20px;
        }
      }

      &.bottom{
        margin-bottom: 2px;
        padding-top: 0;
        .user{
          visibility: hidden;
        }
        .user-name{
          display: none;
        }
        &[self='false'] .text{
          border-radius: 4px 20px 20px 20px;
        }
        &[self='true'] .text{
          border-radius: 20px 4px 20px 20px;
        }
      }

      &[self='true']{
        float: right;

        .user-name{
          display: none;
        }
        .message-content{
          flex-direction: row-reverse;

          .text{
            background-color: $mainGreen2;
            color: white;
          }
        }
      }
      &[self='false']{
        float: right;

        &:hover{
          .time{
            display: none;
          }

          .report{
            display: flex;
          }
        }

        .message-content .text{
          cursor: pointer;
          &:hover{
            background-color: $w230;
          }
        }
      }

      .user-name{
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: rgb(150,150,150);
        font-size: 11px;
        padding-left: 38px;
        padding-right: 38px;
      }

      .message-content{
        height: auto;
        width: auto;
        display: flex;
        .text{
          display: block;
          position: relative;
          float: left;
          width: auto;
          padding: 5px 13px 5px 13px;
          min-height: 20px;
          max-width: 500px;
          color: $g60;
          line-height: 20px;
          background-color: $w240;
          border-radius: 20px;
          word-wrap: break-word;
          word-break: break-all;
        }

        .time{
          position: relative;
          width: 50px;
          color: rgb(200,200,200);
          font-size: 10px;
          padding: 0 10px 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .report{
          width: 50px;
          padding: 0 10px 0 10px;
          display: none;
          align-self: center;

          img{
            cursor: pointer;
            width: 20px;
            height: 20px;
          }
        }

        .user{
          display: block;
          position: relative;
          height: auto;

          div{
            height: 25px;
            width: 25px;
            min-width: 25px;
            border: 1px solid rgb(230,230,230);
            margin: 3px 5px 0 5px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 30px;
          }
        }
      }
    }
  }
}


#Infos{
  width: $infosWidth;
  display: none;

  .content{
    padding: 0;
    max-height: calc(100% - 35px);
    overflow-y: auto;

    .title-book{
      background-color: $mainMarron;
    }


    .salon-list{
      position: relative;
      float: left;
      height: auto;
      width: 100%;
      padding: 10px;
      padding-bottom: 5px;

      .s-l-title{
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        color: rgb(150,150,150);
      }

      ul{
        position: relative;
        float: left;
        width: 100%;
        height: auto;

        li{
          position: relative;
          float: left;
          height: 35px;
          line-height: 35px;
          width: 100%;
          padding-left: 40px;
          font-size: 13px;
          cursor: pointer;
          @include ellipsis;

          .profil{
            position: absolute;
            left: 5px;
            top: 5px;
            height: 25px;
            width: 25px;
            @include bg-center;
            border-radius: 100%;
          }

          .icon{
            position: absolute;
            left: 7px;
            top: 7px;
            height: 23px;
            width: 23px;
          }
        }
      }
    }
  }


}
