@import "_variables.scss";


// Style Header et ses composants

header{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  z-index: 1001;
  // box-shadow: 0 2px 3px $w230;
  border-bottom: 1px solid $w235;
  padding: 5px;
  min-width: 700px;
  color: $mainGreen2;
  display: flex;

  nav{
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  //Menus

  ul{
    position: relative;
    display: flex;
    height: 100%;
    width: auto;
    a {
      display: flex;
      float: none;
      height: 100%;;
    }
  }

  ul.header-nav{
    flex: 1 1 auto;
  }

  ul.header-menus{
    display: flex;
    flex: 0 0 auto;
  }

  li{
    position: relative;
    display: flex;
    height: 100%;
    width: auto;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .activate-search{
    display: flex;
    align-items: center;
  }

  #search{
    margin-left: 5px;
    margin-top: 5px;
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    input.s-search{
      height: 100%;
      width: 100%;
      background-color: $w240;
      padding-left: 35px;
      padding-right: 20px;
      line-height: 30px;
      border-radius: 4px;
      font-size: 13px;

      &.ng-enter{
        @include transition(transform 0.3s, opacity 0.3s);
        @include scale(0.7);
        opacity: 0;
      }

      &.ng-leave{
        @include transition(transform 0.3s, opacity 0.3s);
        @include scale(1);
        opacity: 1;
      }
      &.ng-enter.ng-enter-active{
        @include scale(1);
        opacity: 1;
      }

      &.ng-leave.ng-leave-active{
        @include scale(0.7);
        opacity: 0;
      }
    }
    div.s-icon{
      position: absolute;
      height: 22px;
      width: 22px;
      left: 10px;
      cursor: pointer;
      @include bg-center;

      &.grey{
        background-image: url('../assets/search.svg');
      }
      &.green{
        background-image: url('../assets/search_green.svg');
      }
    }
  }

  .logo{
    height: 25px;
    width: 25px;
    margin-left: 5px;
    cursor: pointer;
  }

  li.menu{
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    cursor: pointer;
    text-transform: capitalize;
    @include transition(background-color, 0.3s);


    @media #{$mini}  {
      .titre{
        display: none;
      }
    }

    //Photo du profil
    .picture{
      height: 25px;
      width: 25px;
      border-radius: 100%;
      margin-left: 10px;
      text-align: center;
      vertical-align: middle;
      border: 2px solid $mainMarron;
      @include bg-center;
    }

    span.titre{
      margin-left: 5px;
    }

    img.icon{
      height: 22px;
      width: 22px;
      &.change{
        display: none;
      }
    }

    .counter{
      position: absolute;
      left: calc(100% - 5px);
      top: 7px;
      height: auto;
      width: auto;
      @include translate(-50%,-50%);
      font-size: 12px;
      z-index: 1002;

      span{
        color: white;
        padding: 1px 5px 1px 5px;
        border-radius: 17px;
        background-color: $red1;
      }
    }

    // Quand la navigation correspond à la page active
    &[active='true']{
      color: $mainMarron;
      // border-bottom: 2px solid $mainMarron;
      img[true]{
        display: inline-block;
      }
    }
    &[active='false']{
      img[false]{
        display: inline-block;
      }
    }

    &:hover{
      background-color: $w245;
    }

    &:active{
      background-color: $w240;
    }
  }



}

// Composants



// Alertes


ul#alertes-container{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 350px;
  height: auto;
  z-index: 2005;
  display: flex;
  flex-direction: column-reverse;

  li{
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 5px;
    padding: 15px 10px 15px 50px;
    box-shadow: 0 0 10px rgba(20,20,20,0.2);
    font-size: 14px;
    color: $w250;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    background-color: rgb(60,60,60);
    line-height: 17px;

    img{
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      left: 10px;
    }

    &.ng-enter {
      @include transition(left 0.3s);
      left: -100%;
    }

    &.ng-enter.ng-enter-active {
      left: 0;
    }

    &.ng-leave {
      @include transition(opacity 0.6s);
      opacity: 1;
    }

    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
  }
}
