@import "_variables.scss";


// Style Header et ses composants

header{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  z-index: 1001;
  // box-shadow: 0 2px 3px $w230;
  border-bottom: 1px solid $w235;
  padding: 5px;
  color: $mainGreen2;

  nav{
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
  }

  //Menus

  li{
    position: relative;
    float: left;
    height: 100%;
    width: auto;
    margin-right: 5px;
  }

  #search{
    margin-left: 5px;
  }

  .logo{
    position: relative;
    float: left;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 7px 0 0 5px;
    cursor: pointer;
  }

  li.menu{
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    cursor: pointer;
    @include transition(background-color, 0.3s);


    @media screen and (max-width: 1000px)  {
      .titre{
        display: none;
      }
    }

    //Photo du profil
    .picture{
      position: relative;
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      text-align: center;
      vertical-align: middle;
      margin: 0 0px 2px 5px;
      border: 2px solid $mainMarron;
      @include bg-center;
    }

    span.titre{
      margin-left: 5px;
    }

    img.icon{
      position: relative;
      display: inline-block;
      height: 22px;
      width: 22px;
      vertical-align: middle;
      margin: 0 0px 3px 0px;
      display: none;

      &[only]{
        margin-right: 0;
        display: inline-block;
      }
    }

    .counter{
      position: absolute;
      left: calc(100% - 5px);
      top: 7px;
      height: auto;
      width: auto;
      @include translate(-50%,-50%);
      font-size: 12px;
      z-index: 1002;

      span{
        color: white;
        padding: 1px 5px 1px 5px;
        border-radius: 17px;
        background-color: $red1;
      }
    }

    // Quand la navigation correspond à la page active
    &[active='true']{
      color: $mainMarron;
      // border-bottom: 2px solid $mainMarron;
      img[true]{
        display: inline-block;
      }
    }
    &[active='false']{
      img[false]{
        display: inline-block;
      }
    }

    &:hover{
      background-color: $w245;
    }

    &:active{
      background-color: $w240;
    }
  }


  //Container de navigation
  ul.header-nav{
    position: relative;
    float: left;
    height: 100%;
    width: auto;
  }


  //Container de menus
  ul.header-menus{
    position: relative;
    float: right;
    height: 100%;
    width: auto;
  }
}

// Composants



// Alertes


ul#alertes-container{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 300px;
  height: auto;
  z-index: 1005;
  display: flex;
  flex-direction: column-reverse;

  li{
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 5px;
    padding: 15px 10px 15px 35px;
    box-shadow: 0 0 10px rgba(20,20,20,0.2);
    font-size: 14px;
    color: $w250;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    background-color: $g90;
    line-height: 17px;

    img{
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      left: 5px;
    }

    &.ng-enter {
      @include transition(left 0.3s);
      left: -100%;
    }

    &.ng-enter.ng-enter-active {
      left: 0;
    }

    &.ng-leave {
      @include transition(opacity 0.6s);
      opacity: 1;
    }

    &.ng-leave.ng-leave-active {
      opacity: 0;
    }

  }
}
