@import "_variables.scss";

// Container de la biblioteque


#library{
  position: relative;
  height: 100%;
  width: 100%;
  color: rgb(80,80,80);
  z-index: 1003;
  display: flex;

  section{
    height: 100%;
    margin-bottom: 0;
    box-shadow: none;
    overflow: hidden;
    flex-flow: row nowrap;
    .title{
      text-align: center;
      font-size: 17px;
      height: 45px;
      flex: 0 0 auto;
    }
  }

  article{
    position: relative;
    float: left;
    height: 100%;

    .header{
      z-index: 2;
    }
  }


  #categories{
    flex: 0 0 auto;
    width: 250px;
    border-right: 1px solid $w220;
    display: flex;
    flex-flow: column nowrap;

    .title{
      justify-content: center;
    }


    .options-tri{
      position: relative;
      width: 100%;
      display: flex;
      flex: 1 1 auto;

      div.list-search{
        position: relative;
        height: 50px;
        width: 100%;
        padding: 10px 15px 10px 15px;
        left: 0;

        input.s-search{
          height: 100%;
          width: 100%;
          background-color: $w240;
          padding-left: 35px;
          padding-right: 20px;
          line-height: 30px;
          border-radius: 4px;
          font-size: 13px;
        }
        div.s-icon{
          position: absolute;
          height: 20px;
          width: 20px;
          top: 15px;
          left: 25px;
          background-image: url('../assets/search.svg');
          @include bg-center;
        }
      }

      .options-container{
        position: relative;
        height: auto;
        width: 100%;
        border-bottom: 1px solid $w220;
        max-height: 100%;
        padding: 5px 5px 0 5px;

        .type{
          position: relative;
          height: 25px;
          width: 100%;
          font-size: 15px;
          line-height: 25px;
          padding-left: 10px;
          color: rgb(150,150,150);
        }

        .list{
          position: relative;
          height: auto;
          width: 100%;
          min-height: 200px;
          max-height: calc(100% - 75px);
          padding: 5px 10px 5px 10px;
          overflow-y: auto;
        }
      }
    }
  }

  #book-library{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

    .title{
      position: relative;
      display: flex;
      text-align: left;
      font-size: 15px;
      padding-left: 0;
      font-weight: normal;
      justify-content: center;

      .group{
        position: relative;
        display: flex;
        flex: 1 0 auto;
        padding: 0 10px 0 10px;
        width: auto;
        height: 100%;
        border-right: 1px solid $w240;
        align-items: center;
        justify-content: center;
        span{
          margin-right: 5px;
          font-size: 14px;
        }
      }
    }

    .library-list{
      position: relative;
      display: flex;
      flex: 1 1 auto;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;

      .admin-books{
        position: relative;
        height: 40px;
        width: 100%;
        flex: 0 0 auto;
      }

      div.book-search{
        flex: 0 0 auto;
        height: 50px;
        display: flex;
        width: 100%;
        padding: 10px 15px 5px 20px;
        left: 0;
        justify-content: center;
        align-items: center;

        .wrapper{
          width: 300px;
          height: 100%;
          display: flex;
          position: relative;
          input.s-search{
            height: 100%;
            width: 100%;
            background-color: $w240;
            padding-left: 35px;
            padding-right: 20px;
            line-height: 30px;
            border-radius: 4px;
            font-size: 13px;
          }
          div.s-icon{
            position: absolute;
            height: 20px;
            width: 20px;
            top: 50%;
            left: 10px;
            background-image: url('../assets/search.svg');
            @include translateY(-50%);
            @include bg-center;
          }
        }
      }

      ul{
        position: relative;
        flex: 1 1 auto;
        height: auto;
        min-height: 100%;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-flow: row wrap;
      }
    }
  }
}

#addBook-window{
  .form-section{

    &[color]{
      background-color: white;
      height: calc(90vh - 90px);
      padding: 0;
    }
  }
}



.book-wrapper{
  position: relative;
  height: auto;
  width: 180px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 0 8px transparentize($g90, 0.7);
  @include transition(all 0.3s);


  // .cover-blur{
  //   position: absolute;
  //   height: 190px;
  //   width: calc(100% + 20px);
  //   left: -10px;
  //   overflow: hidden;
  //   top: -10px;
  //   @include bg-center;
  //   @include filter(blur(15px));
  // }


  .cover-wrap{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    border-radius: 3px 3px 0 0;
    background-color: transparentize($g0, 0.8);
    .cover{
      position: relative;
      float: left;
      height: 150px;
      width: 100px;
      margin: 10px 0 10px 50%;
      @include bg-center;
      @include translateX(-50%);
    }
  }

  .book-info-wrapper{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 5px;
    border-radius: 0 0 3px 3px;

    .info-book{
      position: relative;
      float: left;
      text-align: center;
      height: 20px;
      line-height: 20px;
      width: 100%;
      font-size: 13px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .name{
      font-size: 14px;
    }
    .author{
      color: rgb(130,130,130);
    }

    .rating{
      text-align: center;
      img{
        height: 20px;
        width: 20px;
      }
    }

    .starRating{
      height: 20px!important;
      width: 20px!important;
      background-size: 23px 23px!important;
    }
  }

  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.9);
  }


  &.ng-enter {
    opacity: 0;
    top: -20px;
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0px;
  }

  &.ng-enter-stagger {
    transition-delay: 0.05s;
    transition-duration: 0s;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  // &.ng-leave-stagger {
  //   transition-delay: 0.05s;
  //   transition-duration: 0s;
  // }
}


#bookshow-window{
  .window{
    width: 500px;
    max-height: 90%;

    .content{
      overflow-y: auto;
      max-height: calc(90vh - 89px);
    }
  }
}
