@import "_variables.scss";



// Page d'accueil
#home{
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% - 350px);
  padding: 15px 10px 5px 10px;
  color: $mainColor;
}

section{
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  box-shadow: 0 0 5px $w200;
  margin-bottom: 10px;
  border-bottom: 2px solid $mainGreen2;

  .footer{
    position: relative;
    float: left;
    height: auto;
    padding: 5px;
    width: 100%;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }

  .title{
    position: relative;
    float: left;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid $w235;
    font-weight: bold;
    font-size: 16px;
  }

  .content{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;

    p{
      padding: 5px;
    }

    p.image{
      width: 100%;
      height: auto;
      text-align: center;

      img{
        width: auto;
        height: 100px;
      }
    }

    .contact-form{
      position: relative;
      float: left;
      height: auto;
      width: 400px;
      margin-left: 50%;
      @include translateX(-50%);
    }

    .list-books{
      position: relative;
      height: 100%;
      width: auto;
      max-width: 100%;
      max-height: 270px;
      display: flex;
      padding: 10px;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow: auto;

      .book-wrapper{
        flex: 10 0 auto;
      }
    }
  }
}


aside{
  position: fixed;
  width: 350px;
  padding: 15px 10px 5px 0;
  left: calc(100% - 350px);
  height: auto;

  .salon{
    position: relative;
    width: 100%;
    height: auto;

    .infos{
      position: relative;
      float: left;
      height: 140px;
      width: 60%;
      padding: 5px;

      .info{
        position: relative;
        float: left;
        width: 100%;
        height: 30px;
        font-size: 13px;
        line-height: 30px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        img{
          vertical-align: middle;
          margin-bottom: 2px;
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    .cover{
      position: relative;
      float: left;
      width: 40%;
      height: 140px;
      padding: 5px;

      .cover-image{
        position: absolute;
        height: 120px;
        width: 80px;
        left: 50%;
        box-shadow: 0 0 3px $w220;
        @include bg-center;
        @include translateX(-50%);
      }
    }
  }
  .footer{
    position: relative;
    float: left;
    height: auto;
    padding: 5px;
    width: 100%;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }
}
.popup-box{
  position: fixed;
  left: calc(100% - 350px);
  top: 55px;
  display: none;
  background-color: $w250;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0,0,0, 0.3);
  width: auto;
  height: auto;
  min-width : 200px;
  min-height: 130px;
  max-height: 80%;
  color: rgb(100,100,100);
  z-index: 2000;
  flex-direction: column;
  @include userselect;

  #pin{
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -10px;
    z-index: 2001;
  }

  .header{
    position: relative;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    color: rgb(100,100,100);
    background-color: $w245;
    // border-bottom: 1px solid $mainGreen2;
    box-shadow: 0 1px 5px rgba(80,80,80, 0.2);
    font-weight: bold;
    font-size: 15px;
    flex: 0 1 auto;
  }

  .content{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
    flex: 0 0 auto;
  }

  .connexion{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 5px 0 5px;
    flex: 0 0 auto;
  }

  .footer{
    position: relative;
    height: auto;
    padding: 0 5px 5px 5px;
    width: 100%;
    text-align: center;
    flex: 0 1 auto;

    .bouton{
      display: inline-block;
      float: none;
    }
  }

  .user{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: $w245;
    border-bottom: 1px solid $w240;

    .user-picture{
      position: relative;
      float: left;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin-top: 10px;
      margin-left: 50%;
      border: 3px solid $mainMarron;
      @include translateX(-50%);
      @include bg-center;
    }

    .user-name{
      position: relative;
      float: left;
      width: 100%;
      height: 40px;
      font-size: 17px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
    }
  }

  .user-option-list{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 3px 3px;

    .user-option{
      position: relative;
      float: left;
      height: 35px;
      width: 100%;
      padding-left: 20px;
      line-height: 35px;
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;

      &:hover{
        background-color: $w230;
      }

      &:active{
        background-color: $w210;
      }
    }
  }
}



// popups

.popup-window{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;

  .window{
    position: relative;
    background-color: $w250;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.4);
    width: auto;
    height: auto;
    min-width : 400px;
    color: rgb(100,100,100);
    min-height: 150px;
    max-height: 90%;
    z-index: 1001;
    overflow: hidden;
    @include transition(all 0.4s);


    .header{
      position: relative;
      float: left;
      padding-left: 10px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      width: 100%;
      border-radius: 3px 3px 0 0;
      color: rgb(100,100,100);
      background-color: $w245;
      box-shadow: 0 1px 3px $w200;
      font-weight: bold;
      font-size: 15px;
      overflow-y: auto;

      &.double{
        span{
          display: block;
          float: left;
          width: 50%;
        }
      }


      .externalLink{
        position: absolute;
        right: 30px;
        top: 50%;
        height: 21px;
        width: 21px;
        @include translateY(-50%);
        cursor: pointer;
      }

      .closePopupWindow{
        position: absolute;
        right: 5px;
        top: 50%;
        @include translateY(-50%);
        cursor: pointer;
      }
    }

    .content{
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      overflow: hidden;
      white-space: nowrap;


      .form-section{
        position: relative;
        display: inline-block;
        height: auto;
        width: 50%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px;
        white-space: normal;
        vertical-align: top;
        max-height: calc(90vh - 90px);

        &:first-child{
          padding: 15px;
          padding-top: 5px;
        }
      }
    }

    .footer{
      position: relative;
      float: left;
      height: 100%;
      padding: 5px;
      width: 100%;
      z-index: 2;
      text-align: center;
      border-top: 1px solid $w240;

      .bouton{
        display: inline-block;
        float: none;
      }
    }
  }
}



#popup-notification{
  display: flex;
  max-height: 80%;
  flex-direction: column;
  .header{
    flex: 0 0 auto;
  }
  .content{
    flex: 0 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    ul{
      position: relative;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      li{
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 5px;
        padding: 10px 10px 10px 50px;
        border: 1px solid $w240;
        font-size: 13px;
        color: $g90;
        align-content: flex-start;
        border-radius: 3px;
        background-color: white;
        line-height: 17px;

        div{
          width: 100%;
        }

        .date{
          font-size: 12px;
          color: rgb(120,120,120);
        }

        img{
          position: absolute;
          top: 50%;
          @include translateY(-50%);
          left: 10px;
        }

        &.ng-enter {
          @include transition(left 0.3s);
          left: -100%;
        }

        &.ng-enter.ng-enter-active {
          left: 0;
        }
      }

      .no-content{
        position: relative;
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
