@import "_variables.scss";




// Style Header et ses composants

header{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 3px $w230;
  padding: 5px;
  color: $mainGreen2;

  nav{
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
  }

  //Menus

  li{
    position: relative;
    float: left;
    height: 100%;
    width: auto;
    margin-right: 5px;
  }

  #search{
    margin-left: 5px;
  }

  .logo{
    position: relative;
    float: left;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 7px 0 0 5px;
    cursor: pointer;
  }

  li.menu{
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    cursor: pointer;
    @include transition(background-color, 0.3s);



    //Photo du profil
    .picture{
      position: relative;
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      vertical-align: middle;
      margin: 0 0px 2px 5px;
      border: 2px solid $mainMarron;
      @include bg-center;
    }

    img.icon{
      position: relative;
      display: inline-block;
      height: 22px;
      width: 22px;
      vertical-align: middle;
      margin: 0 5px 3px 0px;
      display: none;

      &[only]{
        margin-right: 0;
        display: inline-block;
      }
    }

    .counter{
      position: absolute;
      left: calc(100% - 5px);
      top: 7px;
      height: auto;
      width: auto;
      @include translate(-50%,-50%);
      font-size: 12px;
      z-index: 1002;

      span{
        color: white;
        padding: 1px 5px 1px 5px;
        border-radius: 17px;
        background-color: $red1;
      }
    }

    // Quand la navigation correspond à la page active
    &[active='true']{
      color: $mainMarron;
      border-radius: 3px 3px 0 0;
      // border-bottom: 2px solid $mainMarron;
      img[true]{
        display: inline-block;
      }
    }
    &[active='false']{
      img[false]{
        display: inline-block;
      }
    }

    &:hover{
      background-color: $w245;
    }

    &:active{
      background-color: $w240;
    }
  }


  //Container de navigation
  ul.header-nav{
    position: relative;
    float: left;
    height: 100%;
    width: auto;
  }


  //Container de menus
  ul.header-menus{
    position: relative;
    float: right;
    height: 100%;
    width: auto;
  }
}




// Page d'accueil
#corps{
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% - 350px);
  padding: 15px 10px 5px 10px;
  color: $mainColor;
}

section{
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  box-shadow: 0 0 5px $w200;
  margin-bottom: 10px;
  border-bottom: 2px solid $mainGreen2;

  .footer{
    position: relative;
    float: left;
    height: auto;
    padding: 5px;
    width: 100%;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }

  .title{
    position: relative;
    float: left;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid $w235;
    font-weight: bold;
    font-size: 16px;
  }

  .content{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;

    p{
      padding: 5px;
    }

    p.image{
      width: 100%;
      height: auto;
      text-align: center;

      img{
        width: auto;
        height: 100px;
      }
    }

    .contact-form{
      position: relative;
      float: left;
      height: auto;
      width: 400px;
      margin-left: 50%;
      @include translateX(-50%);
    }

    .list-books{
      position: relative;
      float: left;
      height: 100%;
      width: auto;
      max-width: 100%;
      max-height: 270px;
      overflow-x: auto;
      white-space: nowrap;

      .book-wrapper{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 200px;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;

        .cover{
          position: relative;
          float: left;
          height: 150px;
          width: 100px;
          margin-left: 50%;
          box-shadow: 0 0 3px $w220;
          @include bg-center;
          @include translateX(-50%);
        }

        .info-book{
          position: relative;
          float: left;
          height: auto;
          text-align: center;
          width: 100%;
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

        .name{
          font-size: 15px;
          margin-top: 5px;
          font-weight: bold;
        }

        .rating{
          text-align: center;
          img{
            height: 20px;
            width: 20px;
          }
        }

        &:hover{
          background-color: $w245;
        }
      }
    }
  }
}


aside{
  position: fixed;
  width: 350px;
  padding: 15px 10px 5px 0;
  left: calc(100% - 350px);
  height: auto;

  .salon{
    position: relative;
    width: 100%;
    height: auto;

    .infos{
      position: relative;
      float: left;
      height: 140px;
      width: 60%;
      padding: 5px;

      .info{
        position: relative;
        float: left;
        width: 100%;
        height: 30px;
        font-size: 13px;
        line-height: 30px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        img{
          vertical-align: middle;
          margin-bottom: 2px;
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    .cover{
      position: relative;
      float: left;
      width: 40%;
      height: 140px;
      padding: 5px;

      .cover-image{
        position: absolute;
        height: 120px;
        width: 80px;
        left: 50%;
        box-shadow: 0 0 3px $w220;
        @include bg-center;
        @include translateX(-50%);
      }
    }
  }
  .footer{
    position: relative;
    float: left;
    height: auto;
    padding: 5px;
    width: 100%;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }
}


.popup-box{
  position: fixed;
  left: calc(100% - 350px);
  top: 55px;
  display: none;
  background-color: $w250;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(190,190,190);
  width: auto;
  height: auto;
  min-width : 200px;
  color: rgb(100,100,100);
  min-height: 150px;
  z-index: 1001;
  @include userselect;

  #pin{
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -10px;
    z-index: 1002;
  }

  .header{
    position: relative;
    float: left;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    color: rgb(100,100,100);
    background-color: $w245;
    // border-bottom: 1px solid $mainGreen2;
    box-shadow: 0 1px 3px $w230;
    font-weight: bold;
    font-size: 15px;
  }

  .content{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .connexion{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 5px 5px 0 5px;
  }

  .footer{
    position: relative;
    float: left;
    height: auto;
    padding: 0 5px 5px 5px;
    width: 100%;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }

  .user{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: $w245;
    border-bottom: 1px solid $w240;

    .user-picture{
      position: relative;
      float: left;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin-top: 10px;
      margin-left: 50%;
      border: 3px solid $mainMarron;
      @include translateX(-50%);
      @include bg-center;
    }

    .user-name{
      position: relative;
      float: left;
      width: 100%;
      height: 40px;
      font-size: 17px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
    }
  }

  .user-option-list{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 3px 3px;

    .user-option{
      position: relative;
      float: left;
      height: 35px;
      width: 100%;
      padding-left: 20px;
      line-height: 35px;
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;

      &:hover{
        background-color: $w230;
      }

      &:active{
        background-color: $w210;
      }
    }
  }
}











// Container de la biblioteque


#library{
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  padding: 15px 10px 5px 10px;
  color: rgb(80,80,80);;

  section{
    height: 100%;
    margin-bottom: 0;

    .title{
      text-align: center;
      font-size: 17px;
      color: $mainColor;
    }
  }

  article{
    position: relative;
    float: left;
    height: 100%;
  }

  #categories{
    width: 250px;
    border-right: 1px solid $w220;


    .options-tri{
      position: relative;
      float: left;
      height: auto;
      width: 100%;

      .options-container{
        position: relative;
        float: left;
        height: auto;
        width: 100%;
        border-bottom: 1px solid $w220;

        .type{
          position: relative;
          float: left;
          height: 30px;
          width: 100%;
          font-size: 14px;
          padding-left: 5px;
          background-color: $w240;
          line-height: 30px;
          text-align: left;
          box-shadow: 0 1px 3px $w210;
        }

        .list{
          position: relative;
          float: left;
          height: auto;
          width: 100%;
          padding: 5px 0 5px 0;
        }
      }
    }
  }

  #book-library{
    width: calc(100% - 251px);

    .title{
      text-align: left;
      font-size: 15px;
      padding-left: 0;
      font-weight: normal;

      .group{
        position: relative;
        float: left;
        padding: 0 10px 0 10px;
        width: auto;
        border-right: 1px solid $w240;
        span{
          margin-right: 5px;
        }
      }
    }
  }


}
