@import "_variables.scss";



// Page d'accueil
#home{
  position: relative;
  height: 100%;
  width: calc(100% - 350px);
  padding: 15px 10px 5px 10px;
  color: $g90;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  section{
    max-width: 800px;
    overflow: hidden;
    background-color: white;
  }

}

section{
  position: relative;
  height: auto;
  width: 100%;
  box-shadow: 0 0 10px rgba(60,60,60,0.2);
  margin-bottom: 10px;
  border-bottom: 2px solid $mainGreen2;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;


  .footer{
    position: relative;
    flex: 0 0 auto;
    padding: 5px;
    width: 100%;
    min-height: 10px;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }

  .title{
    flex: 0 0 auto;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid $w235;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;

    img{
      height: 19px;
      width: 19px;
      margin-right: 5px;
    }

    span{
      color: $g90;
      font-size: 13px;
      font-weight: normal;
      margin-left: 5px;
    }

    &.black{
      color: white;
      background-color: $g60;
    }
  }

  .content{
    width: 100%;
    flex: 1 1 auto;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    min-height: 150px;
    display: flex;
    flex-flow: column nowrap;

    &.nopadding{
      padding: 0;
      overflow-y: auto;
    }

    p{
      padding: 5px;
      line-height: 20px;
    }

    p.image{
      width: 100%;
      height: auto;
      text-align: center;

      img{
        width: auto;
        height: 70px;
      }
    }

    .contact-form{
      position: relative;
      float: left;
      height: auto;
      width: 400px;
      margin-left: 50%;
      @include translateX(-50%);
    }

    ul{
      position: relative;
      flex: 1 1 auto;
      height: auto;
      min-height: 100%;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      flex-flow: row wrap;
    }
  }
}

section.contexte{
  max-height: 400px;

  .content{
    overflow-y: auto;
  }
}


aside{
  position: fixed;
  width: 350px;
  padding: 15px 10px 5px 0;
  left: calc(100% - 350px);
  top: 50px;
  height: auto;
  display: flex;
  max-height: calc(100% - 50px);
  flex-flow: column nowrap;
  color: $g90;

  section{
    width: 100%;
    flex: 1 1 auto;
    min-height: 220px;

    .content{
      display: block;
    }
  }

  .footer{
    position: relative;
    float: left;
    height: auto;
    padding: 5px;
    width: 100%;
    text-align: center;

    .bouton{
      display: inline-block;
      float: none;
    }
  }
}

// popups

.popup-window{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;

  .window{
    position: relative;
    background-color: $w250;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.4);
    width: auto;
    height: auto;
    min-width : 400px;
    color: rgb(100,100,100);
    min-height: 150px;
    max-height: 90%;
    z-index: 1001;
    overflow: hidden;
    @include transition(all 0.4s);


    .header{
      position: relative;
      float: left;
      padding-left: 10px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      width: 100%;
      border-radius: 3px 3px 0 0;
      color: rgb(100,100,100);
      background-color: $w245;
      box-shadow: 0 1px 3px $w200;
      font-weight: bold;
      font-size: 15px;
      overflow-y: auto;

      &.double{
        span{
          display: block;
          float: left;
          width: 50%;
        }
      }


      .externalLink{
        position: absolute;
        right: 30px;
        top: 50%;
        height: 21px;
        width: 21px;
        @include translateY(-50%);
        cursor: pointer;
      }

      .closePopupWindow{
        position: absolute;
        right: 5px;
        top: 50%;
        @include translateY(-50%);
        cursor: pointer;
      }
    }

    .content{
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      overflow: hidden;
      white-space: nowrap;


      .form-section{
        position: relative;
        display: inline-block;
        height: auto;
        width: 50%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px;
        white-space: normal;
        vertical-align: top;
        max-height: calc(90vh - 90px);

        &:first-child{
          padding: 15px;
          padding-top: 5px;
        }
      }
    }

    .footer{
      position: relative;
      float: left;
      height: 100%;
      padding: 5px;
      width: 100%;
      z-index: 2;
      text-align: center;
      border-top: 1px solid $w240;

      .bouton{
        display: inline-block;
        float: none;
      }
    }
  }
}



#popup-notification{
  display: flex;
  max-height: 80%;
  flex-direction: column;
  .header{
    flex: 0 0 auto;
  }
  .content{
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    align-content: center;

    .no-content{
    }

    ul{
      position: relative;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      li{
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 5px;
        padding: 10px 10px 10px 50px;
        border: 1px solid $w240;
        font-size: 13px;
        color: $g90;
        align-content: flex-start;
        border-radius: 3px;
        background-color: white;
        line-height: 17px;

        div{
          width: 100%;
        }

        .date{
          font-size: 12px;
          color: rgb(120,120,120);
        }

        img{
          position: absolute;
          top: 50%;
          @include translateY(-50%);
          left: 10px;
        }

        &.ng-enter {
          @include transition(left 0.3s);
          left: -100%;
        }

        &.ng-enter.ng-enter-active {
          left: 0;
        }
      }
    }
  }
}
