// imports
@import "variables.scss";

// keyframes
@keyframes spinner-animation {
    0% { transform: rotateZ(  0deg); -webkit-animation-timing-function: cubic-bezier(0, 0, .8, .2);opacity: 1}
   50% { transform: rotateZ(180deg); -webkit-animation-timing-function: cubic-bezier(.2, .8, 1, 1); }
  100% { transform: rotateZ(360deg); }
}

.loading-spinner {
  position: relative;
  display: block;
  width: $Loadersize;
  height: $Loadersize;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 10; // prevent sibling elements from getting their own layers
    top: 0;
    left: 0;
    border-radius: 1em;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 1em;
    border: 1px solid;
    animation: spinner-animation 1.2s infinite;
    animation-fill-mode: backwards;
  }
  &::before {
    z-index: 2;
    border-color: $mainGreen2 transparent transparent transparent;
  }
  &::after {
    z-index: 1;
    border-color: transparent lighten($mainGreen2, 15%) transparent transparent;
    animation-delay: 0.6s;
  }

  &.white{
    &::before {
      border-color: $w230 transparent transparent transparent;
    }
    &::after {
      border-color: transparent lighten($w230, 15%) transparent transparent;
    }
  }

  &[taille='big']{
    height: 40px;
    width: 40px;

    &::after{
      border-width: 2px;
      border-radius: 40px;
    }
    &::before{
      border-width: 2px;
      border-radius: 40px;
    }
  }

  &[taille='medium']{
    height: 30px;
    width: 30px;

    &::after{
      border-width: 1px;
      border-radius: 30px;
    }
    &::before{
      border-width: 1px;
      border-radius: 30px;
    }
  }

  &.inline-block {
    display: inline-block;
    vertical-align: middle;
  }
}


html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $mainFont, sans-serif;
  color: $mainColor;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 50px;
  min-width: 800px;
  // min-width: 800px;
  // -webkit-font-smoothing: antialiased;
}



*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &.link{
    text-decoration: underline;
    color: $mainGreen2;
  }
}

span {
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
}

ul, li {
  @include userselect;

  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

input, textarea {
  outline: none;
  border: none;
  background: none;
  resize: none;
}

pre{
  position: relative;
  float: left;
  width: 100%;
}

form.fos_user_registration_register{
  @extend .popup-box;
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  div{
    justify-content: center;
    flex-direction: column;
  }
  input{
    @extend .input-form;
  }
  textarea{
    @extend .input-form;
  }

  ul{
    position: relative;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $red1;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    background-color: transparentize($red1, 0.8);
    padding: 10px;
  }

  button{
    display: flex;
    @extend .bouton;
    float: none;

    background-color: $mainGreen2;
    color: white;
    &:hover {
      background-color: $mainGreen2 - rgb(20, 20, 20);
    }
    &:active {
      background-color: $mainGreen2 - rgb(40, 40, 40);
    }
  }
}

ul.ui-tabs{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  li{
    font-size: 13px;

    flex: 0 1 auto;
    flex-flow: row nowrap;

    label{
      border: 1px solid $w230;
      border-right: none;
      display: flex;
      flex: 0 1 auto;
      padding: 5px 15px 5px 15px;
      cursor: pointer;
    }

    input{
      display: none;

      &:checked + label{
        color: white;
        background-color:$mainGreen2;
        border-color: $mainGreen2;
      }
    }

    &:first-child label{
      border-radius: 30px 0 0 30px;
    }
    &:last-child label{
      border-radius: 0 30px 30px 0;
      border-right: 1px solid $w230;
    }
  }
}

.header-separation{
  position: relative;
  float: left;
  height: calc(100% - 12px);
  width: 1px;
  background-color: $w240;
  margin: 6px 10px 0 10px;
}

.l-separation10 {
  position: relative;
  float: left;
  height: 1px;
  width: calc(100% - 10px);
  margin: 5px 0 5px 5px;
  background-color: $w200;
}

.l-separation20 {
  position: relative;
  float: left;
  height: 1px;
  width: calc(100% - 20px);
  margin: 5px 0 5px 10px;
  background-color: $w200;
}

// Template champs formulaire

.input-search{
  position: relative;
  float: left;
  border: 1px solid $mainGreen1;
  background-color: $w245;
  color: $mainColor;
  vertical-align: middle;
  height: 30px;
  padding: 5px 5px 5px 10px;
  width: 250px;
  margin: 5px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
  border-radius: 4px;

  &:hover{
      background-color: $w250;
  }

  &:focus{
    background-color: $w255;
  }
}



.input-form {
  position: relative;
  float: left;
  border: 1px solid $w200;
  background-color: white;
  color: $mainColor;
  vertical-align: middle;
  height: 35px;
  padding: 5px 30px 5px 9px;
  width: 100%;
  margin: 5px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
  border-radius: 4px;

  &:focus{
    border: 1px solid darken($w200, 20%);
    & + .input-form-result{
      display: block;
    }
  }

  &:required{
    box-shadow: none;
  }

  &.formError{
    border-color: $red1;
  }
  &.formValid{
    border-color: $mainGreen2;
  }
}

.flex-container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.token-container{
  position: relative;
  padding: 5px;
  float: left;
  height: auto;
  width: 100%;

  &.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
}

.token{
  position: relative;
  float: left;
  padding: 5px 5px 5px 10px;
  background-color: white;
  font-size: 13px;
  color: $g90;
  border-radius: 3px;
  box-shadow: 0 0 4px transparentize($g30, 0.7);
  margin: 3px 10px 3px 0;
  *{
     display: inline-block;
     vertical-align: middle;
  }

  &:not(.editable){
    padding-right: 10px;
    float: none;
    img{
      display: none;
    }
  }

  img{
     cursor: pointer;
     border-radius: 100%;

     &:hover{
       background-color: $w230;
     }
  }
  &.editable.ng-enter {
    @include transition(all 0.3s);
    opacity: 0;
    top: -10px;
  }

  &.editable.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0px;
  }
}

ng-form{
  .errorMessage{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    color: $red1;
    font-size: 13px;

    span{
      padding: 5px;
    }
  }
  .infoMessage{
    @extend .errorMessage;
    color: #ea730b;
  }
}

rating-form{

  .input-form-wrap{
    text-align: center;

    .star-container{
      display: inline-block;
      width: auto;
      height: auto;
      padding: 5px 0 5px 0;
      .starRating{
        position: relative;
        float: left;
        height: 25px;
        width: 25px;
        margin-bottom: -4px;
        background-position: center center;
        background-size: 30px 30px;

        &.full[color='brown']{
          background-image: url('../assets/star_plain.svg');
        }
        &.half[color='brown']{
          background-image: url('../assets/star_half.svg');
        }
        &.empty[color='brown']{
          background-image: url('../assets/star_empty.svg');
        }
        &.full[color='green']{
          background-image: url('../assets/star_plain_green.svg');
        }
        &.half[color='green']{
          background-image: url('../assets/star_half_green.svg');
        }
        &.empty[color='green']{
          background-image: url('../assets/star_empty_green.svg');
        }

        &[editable]{
          cursor: pointer;
        }

        .part{
          position: relative;
          float: left;
          height: 100%;
          width: 50%;
        }
      }
      .star-zero{
        position: relative;
        float: left;
        height: 25px;
        width: 13px;
        cursor: pointer;
      }

      .star-displayNumber{
        position: absolute;
        right: 5px;
        top: 50%;
        @include translateY(-50%);
        color: white;
        padding: 3px 10px 3px 10px;
        border-radius: 30px;
        font-size: 14px;
        background-color: $mainMarron;
      }

      .star-displayCount{
        position: absolute;
        left: 5px;
        top: 50%;
        @include translateY(-50%);
        color: white;
        padding: 3px 10px 3px 10px;
        border-radius: 30px;
        font-size: 12px;
        background-color: $mainMarron;
      }
    }
  }
}

.legend {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px 10px 0px 5px;
  font-size: 14px;
  text-align: center;
  white-space: normal;
  color: $g90;
}


.input-form-wrap{
  position: relative;
  float: left;
  width: 100%;
  height: auto;

  .form-searching{
    position: absolute;
    right: 10px;
    top: 50%;
    @include translateY(-50%);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;

    .loading-spinner{
      position: absolute;
      top: 3px;
      right: 0px;
    }

    &::after{
      content:"Searching";
      background-color: $mainGreen2;
      color: white;
      position: absolute;
      width: auto;
      height: auto;
      text-align: center;
      vertical-align: text-top;
      right: 25px;
      border-radius: 20px;
      font-size: 11px;
      opacity: 1;
      padding: 5px 8px 5px 8px;
    }
  }

  .form-valid-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 20px;
    width: 20px;
    @include translateY(-50%);
    @include bg-center;
    cursor: pointer;

    &.form-valid{
      background-image: url('../assets/form-valid-green.svg');
    }
    &.form-invalid{
      background-image: url('../assets/form-invalid-red.svg');
    }
    &.form-required{
      background-image: url('../assets/form-required.svg');
      height: 15px;
      width: 15px;
      &:hover:after{
        content:"Champs requis";
        background-color: $g70;
        color: white;
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        @include translateX(-50%);
        text-align: center;
        top: calc(-100% - 20px);
        border-radius: 3px;
        font-size: 11px;
        opacity: 1;
        padding: 4px 6px 4px 6px;
      }
    }
  }


  .input-form-result{
    position: absolute;
    top: calc(100% - 6px);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 5px transparentize($g30, 0.7);
    border-radius: 3px;
    overflow: hidden;

    ul{
      position: relative;
      float: left;
      height: auto;
      width: 100%;

      div.error_message{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      li{
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid $w230;
        cursor: pointer;
        color: $g90;

        &:last-child{
          border: none;
        }

        &[book]{
          height: 70px;
          padding: 5px;
        }
        &[list]{
          height: 30px;
          padding-left: 10px;
          line-height: 30px;
          font-size: 13px;
        }

        &:hover{
          background-color: $w240;
        }

        &.selected{
          background-color: $mainGreen2;
          color: white;
          .title{
            color: white;
          }
          .author, .description{
            color: $w240!important;
          }
          &:hover{
          background-color: darken($mainGreen2,10%);
          }
        }

        .cover{
          position: relative;
          float: left;
          height: 100%;
          width: 40px;
          margin-right: 5px;
          @include bg-center;
          background-color: $w200;
        }

        .infos{
          position: relative;
          float: left;
          height: 100%;
          width: calc(100% - 45px);

          span{
            position: relative;
            float: left;
            width: 100%;
            line-height: 20px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .title{
            height: 20px;
            font-weight: bold;
            font-size: 14px;
          }
          .author{
            height: 20px;
            font-size: 13px;
            color: rgb(130,130,130);
          }
          .description{
            height: 20px;
            font-size: 13px;
            color: rgb(130,130,130);
          }
          .exists{
            padding: 0 10px 0 10px;
            font-size: 10px;
            height: 18px;
            line-height: 18px;
            width: auto;
            color: white;
            background-color: $mainColor;
            border-radius: 20px;
          }
        }
      }


    }
  }
}

.loader-content{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 40px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
}

.padding-lazyContent{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  @include transition(all 0.5s);

  &.ng-leave.ng-leave-active{
    height: 0;
    opacity: 0;
  }
  &.ng-leave{
    height: 100px;
    opacity: 1;
  }
}


textarea.input-form {
  height: 80px;
  line-height: 20px;
}

form label.label {
  position: relative;
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: rgb(100,100,100);
  margin-top: 5px;
}

select{
  position: relative;
  height: 30px;
  outline: none;
  color: $mainColor;
  border-radius: 3px;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 10px;
  box-shadow: none;
  border: 1px solid $w210;
  background: transparent;
  background-color: white;
  margin-bottom: 2px;
  vertical-align: middle;
  display: inline-block;
  background-image: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
}


// Template bouton

.bouton {
  position: relative;
  width: auto;
  float: left;
  height: 33px;
  font-size: $boutonfont;
  border-radius: 4px;
  line-height: 32px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  font-weight: normal;
  color: white;
  // box-shadow: 0 0 5px $w230;
  padding: 0px 13px 0px 13px;
  @include userselect;

  .loading-spinner{
    display: none;
    margin-left: 5px;
  }

  &.submitting{
    .loading-spinner{
      display: inline-block;
      margin-left: 5px;
    }
  }

  img{
    position: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: -5px;
    margin-right: 5px;
    height: 17px;
    width: 17px;
  }

  &[disabled='disabled']{
    cursor: not-allowed;
    opacity: 0.7;
  }


  &[design='blanc'] {
    background-color: white;
    color: $g90;
    border: 1px solid $w220;

    &.green{
      color: $mainGreen2;
    }

    &.red{
      color: $red1;
    }

    &.brown{
      color: $mainMarron;
    }

    &:hover {
      background-color: $w250;
    }

    &:active {
      background-color: $w240;
    }
  }

  &[design='brown'] {
    background-color: $mainMarron;
    // border: 1px solid ($mainMarron - rgb(20, 20, 20));
    color: white;

    &:hover {
      background-color: $mainMarron - rgb(20, 20, 20);
    }

    &:active {
      background-color: $mainMarron - rgb(40, 40, 40);
    }
  }

  &[design='red'] {
    background-color: $red1;
    border: 1px solid ($red1 - rgb(20, 20, 20));
    color: white;

    &:hover {
      background-color: $red1 - rgb(20, 20, 20);
    }

    &:active {
      background-color: $red1 - rgb(40, 40, 40);
    }
  }

  &[design='green'] {
    background-color: $mainGreen2;
    // border: 1px solid ($mainGreen2 - rgb(20, 20, 20));
    color: white;

    &:hover {
      background-color: $mainGreen2 - rgb(20, 20, 20);
    }

    &:active {
      background-color: $mainGreen2 - rgb(40, 40, 40);
    }
  }

  &[image] {
    img {
      vertical-align: middle;
      margin: 0 5px 0 5px;
    }

    span {
      padding: 0 5px 0 0;
    }
  }
}


// composant checkbox


.checkbox{
  position: relative;
  float: left;
  padding: 5px 5px 5px 5px;
  height: auto;
  width: 100%;
  @include userselect;

  span{
    font-size: 13px;
  }

  label{
    position: relative;
    display: inline-block;
    height: 17px;
    width: 17px;
    vertical-align: middle;
    background-color: white;
    border-radius: 3px;
    border: 1px solid $w200;
    @include transition(all, 0.3s);
    @include bg-center;
    cursor: pointer;

    &:hover{
      border-color: $mainGreen2;
    }
  }

  input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin:0;

    &:checked + label{
      background-color: $mainGreen2;
      background-image: url('../assets/done.svg');
      border: 1px solid transparent;

      & + span{
        color: $mainGreen2;
      }
    }
    // &:focus + label{
    //   border: 1px solid $mainGreen2;
    // }
  }
}




.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid $w230;

  @include transition(all, 0.3s);

  .cercle {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 1px;
    top: 1px;
    border-radius: 100%;
    background-color: white;

    @include transition(all, 0.3s);
  }

  &[state='true'] {
    background-color: $green1;

    .cercle {
      left: 1px;
    }
  }

  &[state='false'] {
    background-color: $w220;

    .cercle {
      left: 31px;
    }
  }
}

.lazyload {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;

  .lazyloadgif {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    height: 50px;
    width: 50px;
    top: 15px;
    background-image: url("../assets/load.gif");
    background-size: contain;
  }
}


.book-form-preview{
  position: relative;
  float: left;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $w230;
  overflow: hidden;

  .book-blur{
    position: absolute;
    height: calc(100% + 30px);
    width: calc(100% + 30px);
    left: -15px;
    top: -15px;
    @include bg-center;
    filter: blur(15px);
  }

  .cover{
    position: relative;
    display: inline-block;
    height: 150px;
    width: 100px;
    @include bg-center;
    margin: 5px;
    background-color: white;

    .loading-spinner{
      left: 50%;
      top: 50%;
      @include translateX(-50%);
    }
  }

  .title-book{
    position: relative;
    display: inline-block;
    background-color: $mainGreen2;
    min-width: 100px;
    max-width: calc(100% - 30px);
    text-align: center;
    padding: 0 20px 0 20px;
    color: white;
    width: auto;
    @include ellipsis;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
  }
}

.show-details{
  position: relative;
  float: left;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid $w240;

  img{
    vertical-align: middle;
    @include transition(all 0.3s);

    &.rotate{
      @include rotate(180deg);
    }
  }
}

.infos-book{
  position:relative;
  float: left;
  width: 100%;
  padding: 5px 20px 5px 20px;
  text-align: center;
  background-color: white;
  white-space: normal;

  .infos-header{
    position: relative;
    float: left;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid $w240;
    text-align: center;

    .i-h-info{
      position: relative;
      flex-grow: 1;
      height: 100%;
      width: auto;
      min-width: 80px;
      max-width: calc(100% / 3);
      padding: 5px;

      div.i-h-img{
        position: relative;
        float: left;
        width: 100%;
        height: 50%;
        text-align: center;
        line-height: 30px;
      }
      div.i-h-text{
        position: relative;
        float: left;
        width: 100%;
        font-size: 16px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        height: 50%;
        text-align: center;
        line-height: 30px;
      }
    }
  }

  .info-book{
    position: relative;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    border-bottom: 1px solid $w240;
    text-align: left;

    &:last-child{
      border: none;
    }

    .i-b-title{
      position: relative;
      float: left;
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .i-b-content{
      position: relative;
      float: left;
      width: 100%;
      font-size: 13px;
      font-style: italic;
    }

    .token{
      display: inline-block;
    }
  }
}

.note-action{
  position: absolute;
  height: 60px;
  width: 100%;
  left: 0px;
  bottom: 100%;
  background-color: $w250;
  box-shadow: 0 -2px 3px rgba(60,60,60,0.2);
  align-content: center;
  border-bottom: 1px solid $w220;
  overflow: hidden;
  z-index: 1;
  @include transition(opacity 0.3s);

  &.ng-enter{
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave{
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }



  .input-form-wrap{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.previewBook{
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
  padding: 5px;
  box-shadow: 0 0 3px rgba(50,50,50, 0.2);
  cursor: pointer;
  margin-top: 5px;
  background-color: white;
  border-radius: 3px;

  .cover{
    position: relative;
    float: left;
    height: 100%;
    width: 40px;
    margin-right: 5px;
    @include bg-center;
    background-color: $w200;
  }

  .infos{
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% - 45px);

    span{
      position: relative;
      float: left;
      width: 100%;
      line-height: 20px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title{
      height: 20px;
      font-weight: bold;
      font-size: 14px;
    }
    .author{
      height: 20px;
      font-size: 13px;
      color: rgb(130,130,130);
    }
    .description{
      height: 20px;
      font-size: 13px;
      color: rgb(130,130,130);
    }
  }
}

.popup-box{
  position: fixed;
  left: calc(100% - 350px);
  top: 55px;
  display: none;
  background-color: $w250;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0,0,0, 0.3);
  width: auto;
  height: auto;
  min-width : 200px;
  min-height: 130px;
  max-height: 80%;
  color: rgb(100,100,100);
  z-index: 2000;
  flex-direction: column;
  @include userselect;

  &.static{
    position: relative;
    left: auto;
    top: auto;
    display: flex;
  }

  #pin{
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -10px;
    z-index: 2001;
  }

  .header{
    position: relative;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    color: rgb(100,100,100);
    background-color: $w245;
    // border-bottom: 1px solid $mainGreen2;
    box-shadow: 0 1px 5px rgba(80,80,80, 0.2);
    font-weight: bold;
    font-size: 15px;
    flex: 0 1 auto;
  }

  .content{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
    flex: 1 1 auto;
  }

  .connexion{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 5px 0 5px;
    flex: 0 0 auto;
  }

  .footer{
    position: relative;
    height: auto;
    padding: 0 5px 5px 5px;
    width: 100%;
    text-align: center;
    flex: 0 1 auto;

    .bouton{
      display: inline-block;
      float: none;
    }
  }

  .user{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: $w245;
    border-bottom: 1px solid $w240;

    .user-picture{
      position: relative;
      float: left;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin-top: 10px;
      margin-left: 50%;
      border: 3px solid $mainMarron;
      @include translateX(-50%);
      @include bg-center;
    }

    .user-name{
      position: relative;
      float: left;
      width: 100%;
      height: 40px;
      font-size: 17px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
    }
  }

  .user-option-list{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 3px 3px;

    .user-option{
      position: relative;
      float: left;
      height: 35px;
      width: 100%;
      padding-left: 20px;
      line-height: 35px;
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;

      &:hover{
        background-color: $w230;
      }

      &:active{
        background-color: $w210;
      }
    }
  }
}


// .popupConfirm

// classes generiques

.d-none {
  display: none;
}

.h-auto{
  height: auto;
}

.w-100{
  width: 100%;
}

.f-left{
  position: relative;
  float: left;
}




//fonts

.f-bold {
  font-weight: bold;
}

.f-normal {
  font-weight: normal;
}
