// imports
@import "variables.scss";

// keyframes
@keyframes spinner-animation {
    0% { transform: rotateZ(  0deg); -webkit-animation-timing-function: cubic-bezier(0, 0, .8, .2);opacity: 1}
   50% { transform: rotateZ(180deg); -webkit-animation-timing-function: cubic-bezier(.2, .8, 1, 1); }
  100% { transform: rotateZ(360deg); }
}

.loading-spinner {
  position: relative;
  display: block;
  width: $Loadersize;
  height: $Loadersize;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 10; // prevent sibling elements from getting their own layers
    top: 0;
    left: 0;
    border-radius: 1em;
    width: inherit;
    height: inherit;
    border-radius: 1em;
    border: 1px solid;
    animation: spinner-animation 1.2s infinite;
    animation-fill-mode: backwards;
  }
  &::before {
    border-color: $mainGreen2 transparent transparent transparent;
  }
  &::after {
    border-color: transparent lighten($mainGreen2, 15%) transparent transparent;
    animation-delay: 0.6s;
  }

  &.inline-block {
    display: inline-block;
  }
}
html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $mainFont, sans-serif;
  color: $mainColor;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 50px;
  min-width: 800px;
}

// [ng\:cloak], [ng-cloak], .ng-cloak {
//     text-align: center;
//
//     &::after{
//       content:"";
//       display: block!important;
//       position: relative;
//       height: 30px;
//       width: 30px;
//       background-image: url('../assets/load.gif');
//       @include bg-center;
//     }
// }

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

span {
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
}

ul, li {
  @include userselect;

  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

input, textarea {
  outline: none;
  border: none;
  background: none;
  resize: none;
}

pre{
  position: relative;
  float: left;
  width: 100%;
}

.header-separation{
  position: relative;
  float: left;
  height: calc(100% - 12px);
  width: 1px;
  background-color: $w240;
  margin: 6px 10px 0 10px;
}

.l-separation10 {
  position: relative;
  float: left;
  height: 1px;
  width: calc(100% - 10px);
  margin: 5px 0 5px 5px;
  background-color: $w200;
}

.l-separation20 {
  position: relative;
  float: left;
  height: 1px;
  width: calc(100% - 20px);
  margin: 5px 0 5px 10px;
  background-color: $w200;
}

// Template champs formulaire

.input-search{
  position: relative;
  float: left;
  border: 1px solid $mainGreen1;
  background-color: $w245;
  color: $mainColor;
  vertical-align: middle;
  height: 30px;
  padding: 5px 5px 5px 10px;
  width: 250px;
  margin: 5px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
  border-radius: 4px;

  &:hover{
      background-color: $w250;
  }

  &:focus{
    background-color: $w255;
  }
}



// .input-form {
//   position: relative;
//   float: left;
//   background-color: $w250;
//   color: $mainColor;
//   height: 30px;
//   padding: 5px 5px 5px 10px;
//   width: 100%;
//   margin: 5px 0 5px 0;
//   line-height: 30px;
//   box-shadow: 0 0 5px $w210;
//   font-size: 13px;
//
//   &:hover {
//     box-shadow: 0 0 6px $w200;
//   }
//
//   &:focus {
//     box-shadow: 0 0 8px rgb(190,190,190);
//   }
// }


.input-form {
  position: relative;
  float: left;
  border: 1px solid $mainGreen1;
  background-color: white;
  color: $mainColor;
  vertical-align: middle;
  height: 35px;
  padding: 5px 30px 5px 10px;
  width: 100%;
  margin: 5px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
  border-radius: 4px;

  &:hover{
    border: 1px solid darken($mainGreen1, 10%);
  }

  &:focus{
    border: 1px solid darken($mainGreen1, 20%);
  }
  & + .loading-spinner{
    position: absolute;
    right: 18px;
    top: 50%;
    @include translateY(-50%);
  }
}

.input-form-wrap{
  position: relative;
  float: left;
  width: 100%;
  height: auto;

  .input-form-result{
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 5px $w210;

    ul{
      position: relative;
      float: left;
      height: auto;
      width: 100%;

      li{
        position: relative;
        float: left;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid $w230;
        padding: 5px;

        .cover{
          position: relative;
          float: left;
          height: 100%;
          width: 40px;
          margin-right: 5px;
          @include bg-center;
          background-color: $w200;
        }

        .infos{
          position: relative;
          float: left;
          height: 100%;
          width: calc(100% - 45px);

          span{
            position: relative;
            float: left;
            width: 100%;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .title{
            height: 20px;
            font-weight: bold;
            font-size: 14px;
          }
          .author{
            height: 20px;
            font-size: 13px;
          }
          .description{
            height: 20px;
            font-size: 13px;
          }
        }
      }


    }
  }
}

textarea.input-form {
  height: 80px;
  line-height: 20px;
}

form label.label {
  position: relative;
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: rgb(100,100,100);
  margin-top: 5px;
}

select{
  position: relative;
  height: 30px;
  outline: none;
  color: $mainColor;
  border-radius: 3px;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 10px;
  box-shadow: none;
  border: 1px solid $w210;
  background: transparent;
  background-color: white;
  margin-bottom: 2px;
  vertical-align: middle;
  display: inline-block;
  background-image: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
}


// Template bouton

.bouton {
  position: relative;
  width: auto;
  float: left;
  height: 33px;
  font-size: $boutonfont;
  border-radius: 4px;
  line-height: 32px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: normal;
  color: white;
  // box-shadow: 0 0 5px $w230;
  padding: 0px 13px 0px 13px;
  @include userselect;

  img{
    position: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: -5px;
  }

  &[disabled='disabled']{
    cursor: not-allowed;
    opacity: 0.7;
  }


  &[design='blanc'] {
    background-color: white;
    color: $g90;
    border: 1px solid $w220;

    // &[state='false']:hover {
    //   background-color: $w240;
    // }
    //
    // &[state='false']:active {
    //   background-color: $w230;
    // }
    //
    // &[state='true']:hover {
    //   background-color: $mainColor - rgb(20, 20, 20);
    // }
    //
    // &[state='true']:active {
    //   background-color: $mainColor - rgb(40, 40, 40);
    // }

    &:hover {
      background-color: $w245;
    }

    &:active {
      background-color: $w240;
    }
  }

  &[design='brown'] {
    background-color: $mainMarron;
    // border: 1px solid ($mainMarron - rgb(20, 20, 20));
    color: white;

    &:hover {
      background-color: $mainMarron - rgb(20, 20, 20);
    }

    &:active {
      background-color: $mainMarron - rgb(40, 40, 40);
    }
  }

  &[design='red'] {
    background-color: $red1;
    border: 1px solid ($red1 - rgb(20, 20, 20));
    color: white;

    &:hover {
      background-color: $red1 - rgb(20, 20, 20);
    }

    &:active {
      background-color: $red1 - rgb(40, 40, 40);
    }
  }

  &[design='green'] {
    background-color: $mainGreen2;
    // border: 1px solid ($mainGreen2 - rgb(20, 20, 20));
    color: white;

    &:hover {
      background-color: $mainGreen2 - rgb(20, 20, 20);
    }

    &:active {
      background-color: $mainGreen2 - rgb(40, 40, 40);
    }
  }

  &[image] {
    img {
      vertical-align: middle;
      margin: 0 5px 0 5px;
    }

    span {
      padding: 0 5px 0 0;
    }
  }
}


// composant checkbox


.checkbox{
  position: relative;
  float: left;
  padding: 5px 5px 5px 5px;
  height: auto;
  width: 100%;
  @include userselect;

  span{
    font-size: 13px;
  }

  label{
    position: relative;
    display: inline-block;
    height: 17px;
    width: 17px;
    vertical-align: middle;
    background-color: white;
    border-radius: 3px;
    border: 1px solid $w200;
    @include transition(all, 0.3s);
    @include bg-center;
    cursor: pointer;

    &:hover{
      border-color: $mainGreen2;
    }
  }

  input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin:0;

    &:checked + label{
      background-color: $mainGreen2;
      background-image: url('../assets/done.svg');
      border: 1px solid transparent;
    }
    // &:focus + label{
    //   border: 1px solid $mainGreen2;
    // }
  }
}




.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid $w230;

  @include transition(all, 0.3s);

  .cercle {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 1px;
    top: 1px;
    border-radius: 100%;
    background-color: white;

    @include transition(all, 0.3s);
  }

  &[state='true'] {
    background-color: $green1;

    .cercle {
      left: 1px;
    }
  }

  &[state='false'] {
    background-color: $w220;

    .cercle {
      left: 31px;
    }
  }
}

.lazyload {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;

  .lazyloadgif {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    height: 50px;
    width: 50px;
    top: 15px;
    background-image: url("../assets/load.gif");
    background-size: contain;
  }
}


// .popupConfirm

// classes generiques

.d-none {
  display: none;
}

.h-auto{
  height: auto;
}

.w-100{
  width: 100%;
}

.f-left{
  position: relative;
  float: left;
}




//fonts

.f-bold {
  font-weight: bold;
}

.f-normal {
  font-weight: normal;
}
